[Unit]
Description=A job for rotate djing netflow data

[Service]
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/bin"
Type=oneshot
ExecStart=/var/www/djing/agent/netflow/netflow_collect.sh
User=root
Group=root

[Install]
WantedBy=multi-user.target
