[Unit]
Description=Celery worker for djing

[Service]
Type=simple
ExecStart=/var/www/djing/venv/bin/celery worker -A djing --loglevel=info --concurrency=4
WorkingDirectory=/var/www/djing
TimeoutSec=7
Restart=always
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
