[Unit]
Description=Dialing inbox sms unit

[Service]
Type=simple
ExecStart=/usr/bin/python3 dialing.py
PIDFile=/run/dialing.py.pid
WorkingDirectory=/var/www/djing
User=http
Group=http

[Install]
WantedBy=multi-user.target
