[Unit]
Description=A job for djing

[Service]
Type=simple
ExecStart=/usr/bin/python3 periodic.py
WorkingDirectory=/var/www/djing
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
