[Unit]
Description=Run every night a job for djing

[Timer]
OnCalendar=*-*-* 01:59:00
Persistent=true
Unit=djing.service

[Install]
WantedBy=timers.target

