[Unit]
Description=Djing queue manager

[Service]
Type=simple
ExecStart=/usr/bin/python3 ./queue_mngr.py > /dev/null
PIDFile=/run/queue_mngr.py.pid
WorkingDirectory=/var/www/djing
TimeoutSec=30
Restart=always
User=http
Group=http

[Install]
WantedBy=multi-user.target
