[Unit]
Description=A job for djing

[Service]
Type=simple
ExecStart=/usr/bin/python3 periodic.py
WorkingDirectory=/srv/http/djing
User=http
Group=http

[Install]
WantedBy=multi-user.target
