[Unit]
Description=A job for djing

[Service]
Type=oneshot
ExecStart=/var/www/djing/venv/bin/python periodic.py
WorkingDirectory=/var/www/djing
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
