{% extends request.is_ajax|yesno:'nullcont.htm,devapp/ext.htm' %}
{% load i18n %}
{% block main %}

    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home"></span></li>
        <li><a href="{% url 'devapp:group_list' %}">{% trans 'Groups' %}</a></li>
        <li><a href="{% url 'devapp:devs' user_group.pk %}">{{ user_group.title }}</a></li>
        <li><a href="{% url 'devapp:view' user_group.pk device.pk %}">{{ device.comment }}</a></li>
        <li class="active">{% trans 'Fix subscriber ports conflict' %}</li>
    </ol>

    {% include 'message_block.html' %}

    <div class="page-header">
        <h2>{% trans 'Fix subscriber ports conflict' %}</h2>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{% trans 'Subscribers list on port' %}</h3>
        </div>
        <div class="panel-body">
            <u>{% trans 'Port' %} {{ port.num }}. {{ port.descr }}</u>
            <p>{% blocktrans %}You may choose the subscriber who correctly attached to device port. When you have found right subscriber, remove the port from the other person{% endblocktrans %}</p>
        </div>
        <div class="list-group">
            {% for abon in abons %}
                <a href="{% url 'abonapp:abon_home' abon.group.pk abon.pk %}" class="list-group-item">{{ abon.get_full_name }}</a>
            {% empty %}
            {% trans 'Abons not found' %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
