{% load i18n %}{% load bootstrap3 %}

{% if port_id %}
    {% url 'devapp:edit_port' gid did port_id as frm_url %}
{% else %}
    {% url 'devapp:add_port' gid did as frm_url %}
{% endif %}

<form role="form" action="{{ frm_url }}" method="post">{% csrf_token %}
    <input type="hidden" value="yes" name="confirm">

    <div class="modal-header primary">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><span class="glyphicon glyphicon-exclamation-sign"></span>{% trans 'Are you sure?' %}</h4>
    </div>

    <div class="modal-body">

        {% bootstrap_form form %}

        {% trans 'Save' as btntxt %}
        {% bootstrap_button btntxt button_type="submit" button_class="btn-primary" icon="save" size='sm' %}

    </div>

</form>
