{% load i18n %}

{% if port_id %}
<form role="form" action="{% url 'devapp:edit_port' gid did port_id %}" method="post">{% else %}
<form role="form" action="{% url 'devapp:add_port' gid did %}" method="post">{% endif %}{% csrf_token %}
    <input type="hidden" value="yes" name="confirm">
    <div class="modal-header primary">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><span class="glyphicon glyphicon-exclamation-sign"></span>{% trans 'Are you sure?' %}</h4>
    </div>

    <div class="modal-body">

        <div class="form-group">
            <label for="id_num">{% trans 'Number' %}</label>

            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-bishop"></span></span>
                {{ form.num }}{{ form.num.errors }}
            </div>
        </div>

        <div class="form-group">
            <label for="id_descr">{% trans 'Description' %}</label>

            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-comment"></span></span>
                {{ form.descr }}{{ form.descr.errors }}
            </div>
        </div>

        <button type="submit" class="btn btn-sm btn-primary">
            <span class="glyphicon glyphicon-save"></span> {% trans 'Save' %}
        </button>
    </div>

</form>
