{% extends 'base.html' %}
{% block main %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Поиск по &quot;{{ s }}&quot;</h3>
        </div>
        <div class="panel-body">
            <form role="form" action="{% url 'searchapp:home' %}" method="get">
                <div class="form-group">
                    <label for="srfield">Измените тут строку поиска</label>

                    <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span> Найти
                        </button>
                    </span>
                        <input id="srfield" name="s" type="text" value="{{ s }}" class="form-control">
                    </div>
                </div>
            </form>
            <div class="list-group">
                {% for ab in abons %}
                    <a href="{% url 'abonapp:abon_home' ab.group.id ab.id %}" target="_blank" class="list-group-item">
                        <h4 class="list-group-item-heading">{{ ab.username|safe }}</h4>

                        <p class="list-group-item-text">
                        {{ ab.fio|safe }}
                        {% if ab.ip_address %}
                            <span>{{ ab.ip_address }}</span>
                        {% endif %}
                        {{ ab.telephone|safe }}
                        </p>
                    </a>
                {% empty %}
                    <a class="list-group-item">
                        <h4 class="list-group-item-heading">Ничего не найдено</h4>

                        <p class="list-group-item-text">
                            Результат поиска пуст, попробуйте изменить строку поиска, и попробуйте найти ещё раз.
                        </p>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
