{% extends request.is_ajax|yesno:'nullcont.htm,abonapp/ext.htm' %}
{% load i18n %}
{% block content %}


    <legend>{% trans 'Additional sum' %}</legend>


    <div class="row">
        <div class="col-sm-4">
            <form role="form" action="{% url 'abonapp:abon_amount' abon_group.id abon.id %}"
                  method="post"> {% csrf_token %}

                <div class="form-group-sm">
                    <label for="amount">{% trans 'Amount of money' %}</label>

                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-ruble"></span></span>
                        <input id="amount" type="text" name="amount" placeholder="0.0" class="form-control" required
                               pattern="\d+">
                    </div>
                </div>
                <input type="hidden" name="abonid" value="{{ abon.id }}"><br>

                <div class="btn-group">
                    <button type="submit" class="btn btn-sm btn-primary">
                        <span class="glyphicon glyphicon-save"></span> {% trans 'Refill' %}
                    </button>
                    <button type="reset" class="btn btn-sm btn-default">
                        <span class="glyphicon glyphicon-remove-circle"></span> {% trans 'Reset' %}
                    </button>
                </div>

            </form>
        </div>
    </div>

{% endblock %}