{% extends request.is_ajax|yesno:'bajax.html,base.html' %}
{% load i18n %}
{% block main %}

    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home"></span></li>
        <li><a href="{% url 'abonapp:group_list' %}">{% trans 'User groups' %}</a></li>
        <li><a href="{% url 'abonapp:people_list' abon_group.id %}">{{ abon_group.title }}</a></li>
        <li class="active">{% trans 'Add abon' %}</li>
    </ol>

    {% include 'message_block.html' %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{% trans 'Add abon' %}</h3>
        </div>
        <div class="panel-body">
            <form role="form" action="{% url 'abonapp:add_abon' abon_group.id %}" method="post">{% csrf_token %}
                <div class="form-group">
                    <label for="login">{% trans 'login' %}</label>

                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        {{ form.username }}{{ form.username.errors }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="fio">{% trans 'Long name' %}</label>

                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-bookmark"></span></span>
                        {{ form.fio }}{{ form.fio.errors }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="telephone">{% trans 'Telephone' %}</label>

                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
                        {{ form.telephone }}{{ form.telephone.errors }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="grp">{% trans 'User group' %}</label>

                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-grain"></span></span>
                        {{ form.group }}{{ form.group.errors }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_description">{% trans 'Comment' %}</label>

                    <span class="input-group-addon"><span class="glyphicon glyphicon-comment"></span></span>
                    {{ form.description }}{{ form.description.errors }}
                </div>
                <div class="form-group">
                    <label for="id_street">{% trans 'Street' %}</label>

                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-road"></span></span>
                        {{ form.street }}{{ form.street.errors }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_house">{% trans 'Apartment' %}</label>

                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
                        {{ form.house }}{{ form.house.errors }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="id_password">{% trans 'Password' %}</label>

                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        {{ form.password }}{{ form.password.errors }}
                    </div>
                </div>

                <div class="btn-group">
                    <button type="submit" class="btn btn-sm btn-primary">
                        <span class="glyphicon glyphicon-save"></span> {% trans 'Save' %}
                    </button>
                    <button type="reset" class="btn btn-sm btn-default">
                        <span class="glyphicon glyphicon-remove-circle"></span> {% trans 'Reset' %}
                    </button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}