{% extends request.is_ajax|yesno:'bajax.html,base.html' %}
{% load i18n %}
{% block main %}

    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home"></span></li>
        <li><a href="{% url 'abonapp:group_list' %}">{% trans 'User groups' %}</a></li>
        <li><a href="{% url 'abonapp:people_list' abon_group.id %}">{{ abon_group.title }}</a></li>
        <li><a href="{% url 'abonapp:abon_home' abon_group.id abon.id %}">{{ abon.fio }}</a></li>
        <li class="active">{% trans 'Finish service' %}</li>
    </ol>

    {% include 'message_block.html' %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{% trans 'Finish service' %}</h3>
        </div>
        <div class="panel-body">

            <form role="form" action="{% url 'abonapp:compl_srv' abon_group.id abon.id abtar.id %}" method="post">{% csrf_token %}
                <input name="finish_confirm" value="yes" type="hidden">

                <p>
                    {% blocktrans %}Early completion of the current service will cause that user will be denied access to services Resources (Net closes)
To continue to use the resources necessary to connect the required service{% endblocktrans %}
                </p>

                <p>{% blocktrans %}Details: <br/>
You complete tariff{% endblocktrans %}

                    {% if perms.tariff_app.change_tariff %}
                        <a href="{% url 'tarifs:edit' abtar.tariff.id %}" target="_blank">{{ abtar.tariff.title }}</a>.<br/>
                    {% else %}
                        {{ abtar.tariff.title }}.<br/>
                    {% endif %}

                    {% now "d F Y, H: i: s" as today %}
                    {% blocktrans with time_start=abtar.time_start|date:'d F Y, H: i: s' amount=abtar.tariff.amount %}The service has been connected: {{ time_start }}<br/>
Today: {{ today }}<br/>
Time of use: {{ time_use }}<br/>
The total cost of the service: {{ amount }}<br/>
Total cost: {{ tcost }}<br/>
Cashback: {{ cashback }}{% endblocktrans %}
                </p>

                <div class="btn-group">
                    <button type="submit" class="btn btn-sm btn-primary">
                        <span class="glyphicon glyphicon-save"></span> {% trans 'Save' %}
                    </button>
                </div>

            </form>

        </div>
    </div>

{% endblock %}