{% extends 'base.html' %}
{% load i18n %}
{% block main %}


    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home"></span></li>
        <li class="active">{% trans 'User groups' %}</li>
    </ol>

    <h3>{% trans 'User groups' %}</h3>

    {% include 'message_block.html' %}

    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th width="50">#</th>
                <th>
                    <a href="{% url 'abonapp:group_list' %}?order_by=title&dir={{ dir|default:"down" }}">
                        {% trans 'Group title' %}
                    </a>
                    {% if order_by == 'title' %}<span class="glyphicon glyphicon-filter"></span>{% endif %}
                </th>
                <th width="100">
                    {% trans 'Number of subscribers' %}
                </th>
                <th width="100">#</th>
            </tr>
            </thead>
            <tbody>
            {% for gr in groups %}
                <tr>
                    <td>{{ gr.id }}</td>
                    <td><a href="{% url 'abonapp:people_list' gr.id %}">{{ gr.title }}</a></td>
                    <td>{{ gr.usercount }}</td>
                    <td>
                        {% if perms.abonapp.delete_abongroup %}
                            {% if gr.usercount > 0 %}
                                <a href="#" class="btn btn-sm btn-default disabled">
                            {% else %}
                                <a href="{% url 'abonapp:del_group' %}?t=a&id={{ gr.id }}" class="btn btn-sm btn-danger">
                            {% endif %}
                            <span class="glyphicon glyphicon-remove-circle"></span></a>
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4"><a href="#">{% trans 'Groups was not found' %}</a></td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="4" class="btn-group">
                    {% if perms.abonapp.add_abongroup %}
                    <a href="{% url 'abonapp:add_group' %}" class="btn btn-success btn-sm">
                        <span class="glyphicon glyphicon-plus"></span> {% trans 'Add group' %}
                    </a>
                    {% endif %}
                    <a href="{% url 'abonapp:log' %}" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-record"></span> {% trans 'Subscribers actions' %}
                    </a>
                    <a href="{% url 'abonapp:debtors' %}" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-exclamation-sign"></span> {% trans 'List of debtors' %}
                    </a>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>

    {% include 'toolbar_page.html' with pag=groups %}

{% endblock %}