{% load bootstrap3 i18n %}
<form role="form" action="{% url 'abonapp:abon_amount' group_id abon.username %}" method="post"> {% csrf_token %}
    <div class="modal-header primary">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><span class="glyphicon glyphicon-shopping-cart"></span>{% trans 'Additional sum' %}</h4>
    </div>

    <div class="modal-body">

        {% bootstrap_form form %}

        <div class="btn-group">
            <button type="submit" class="btn btn-sm btn-primary">
                <span class="glyphicon glyphicon-save"></span> {% trans 'Refill' %}
            </button>
            <button type="reset" class="btn btn-sm btn-default">
                <span class="glyphicon glyphicon-remove-circle"></span> {% trans 'Reset' %}
            </button>
        </div>
    </div>

</form>
