{% load i18n %}
<div class="modal-header primary">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title"><span class="glyphicon glyphicon-earphone"></span>{% trans 'Additional telephones' %}</h4>
</div>

<div class="modal-body">

    <table class="table">
        <thead>
        <tr>
            <th>{% trans 'Telephone owner' %}</th>
            <th>{% trans 'Telephone' %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for t in telephones %}
            <tr>
                <td>{{ t.owner_name }}</td>
                <td><a href="sip:{{ t.telephone }}" class="btn btn-link">{{ t.telephone }}</a></td>
                <td>
                    <a href="{% url 'abonapp:telephone_del' gid uname %}?tid={{ t.pk }}" class="btn btn-default btn-sm" title="{% trans 'Delete' %}">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">{% trans 'Additional telephones not found' %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
