{% extends request.is_ajax|yesno:'nullcont.htm,abonapp/ext.htm' %}
{% load i18n %}
{% load bootstrap3 %}
{% block content %}

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans 'Passport information' %}</h3>
                </div>
                <div class="panel-body">
                    <form role="form" class="form-horizontal" action="{% url 'abonapp:passport_view' group.pk abon.username %}" method="post">{% csrf_token %}

                        {% bootstrap_field frm.series label_class='col-sm-3' field_class='col-sm-9' form_group_class='form-group-sm' %}
                        {% bootstrap_field frm.number label_class='col-sm-3' field_class='col-sm-9' form_group_class='form-group-sm' %}
                        {% bootstrap_field frm.distributor label_class='col-sm-3' field_class='col-sm-9' form_group_class='form-group-sm' %}

                        <div class="form-group-sm">
                            <label for="id_date_of_acceptance" class="col-sm-3 control-label">{% trans 'Date of acceptance' %}</label>
                            <div class="col-sm-9">
                                {{ frm.date_of_acceptance }}{{ frm.date_of_acceptance.errors }}
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    $('#id_date_of_acceptance').datetimepicker({
                                        format: 'YYYY-MM-DD'
                                    });
                                });
                            </script>
                        </div>

                        <div class="form-group-sm">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-save"></span> {% trans 'Save' %}
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}