{% extends 'base.html' %}
{% load i18n %}
{% load dpagination %}
{% block main %}


    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home"></span></li>
        <li><a href="{% url 'abonapp:group_list' %}">{% trans 'User groups' %}</a></li>
        <li class="active">{{ abon_group.title }}</li>
    </ol>

    {% include 'message_block.html' %}

    <h3>{% trans 'The people in the selected group' %}</h3>
    <div class="row">
        <div class="col-lg-10 col-md-8">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th class="col-xs-1">
                            <a href="{% url 'abonapp:people_list' abon_group.pk %}?{% url_replace request order_by=username dir=dir|default:"down" %}">
                                {% trans 'Sub' %}
                            </a>
                            {% if order_by == 'username' %}<span class="glyphicon glyphicon-filter"></span>{% endif %}
                        </th>
                        <th class="hidden-xs">{% trans 'Last traffic' %}</th>
                        <th class="col-xs-1 hidden-md">
                            <a href="{% url 'abonapp:people_list' abon_group.pk %}?{% url_replace request order_by=ip_address dir=dir|default:"down" %}">
                                {% trans 'Ip address' %}
                            </a>
                            {% if order_by == 'ip_address' %}<span class="glyphicon glyphicon-filter"></span>{% endif %}
                        </th>
                        <th class="col-xs-2">
                            <a href="{% url 'abonapp:people_list' abon_group.pk %}?{% url_replace request order_by=fio dir=dir|default:"down" %}">
                                {% trans 'fio' %}
                            </a>
                            {% if order_by == 'fio' %}<span class="glyphicon glyphicon-filter"></span>{% endif %}
                        </th>
                        <th class="col-xs-2">
                            <a href="{% url 'abonapp:people_list' abon_group.pk %}?{% url_replace request order_by=street dir=dir|default:"down" %}">
                                {% trans 'Street' %}
                            </a>
                            {% if order_by == 'street' %}<span class="glyphicon glyphicon-filter"></span>{% endif %}
                        </th>
                        <th class="col-xs-1">
                            <a href="{% url 'abonapp:people_list' abon_group.pk %}?{% url_replace request order_by=house dir=dir|default:"down" %}">
                                {% trans 'Apartment' %}
                            </a>
                            {% if order_by == 'house' %}<span class="glyphicon glyphicon-filter"></span>{% endif %}
                        </th>
                        <th class="col-xs-2">{% trans 'Telephone' %}</th>
                        <th class="col-xs-2">{% trans 'Service' %}</th>
                        <th class="hidden-xs col-sm-1">
                            <a href="{% url 'abonapp:people_list' abon_group.pk %}?{% url_replace request order_by=ballance dir=dir|default:"down" %}">
                                {% trans 'Ballance' %}
                            </a>
                            {% if order_by == 'ballance' %}<span class="glyphicon glyphicon-filter"></span>{% endif %}
                        </th>
                        <th class="hidden-xs">#</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% with can_ch_trf=perms.tariff_app.change_tariff can_del_trf=perms.abonapp.delete_abon %}
                    {% for human in peoples %}
                        {% if human.is_active %}
                            <tr>
                            {% else %}
                            <tr class="danger">
                        {% endif %}
                        <td>{% if human.stat_cache and human.stat_cache.is_online %}
                                <span class="glyphicon glyphicon-ok text-success"></span>
                            {% else %}
                                <span class="glyphicon glyphicon-remove-sign text-muted"></span>
                            {% endif %}</td>
                        <td>
                            <a href="{% url 'abonapp:abon_home' human.group.pk human.pk %}">{{ human.username }}</a>
                        </td>
                        <td class="hidden-xs">
                            {% if human.stat_cache %}
                                {% if human.stat_cache.is_today %}
                                    {{ human.stat_cache.last_time|date:"H:i" }}
                                {% else %}
                                    {{ human.stat_cache.last_time|date:"D H:i" }}
                                {% endif %}
                            {% endif %}
                        </td>
                        <td class="hidden-md">{{ human.ip_address|default:_('Not assigned') }}</td>
                        <td>{{ human.fio }}</td>
                        <td>{{ human.street|default:_('Not assigned') }}</td>
                        <td>{{ human.house|default:'-' }}</td>
                        <td><a href="tel:{{ human.telephone }}">{{ human.telephone }}</a></td>
                        <td>
                            {% if human.active_tariff %}
                                {% if perms.tariff_app.change_tariff %}
                                    <a href="{% url 'tarifs:edit' human.active_tariff.tariff.pk %}">{{ human.active_tariff.tariff.title }}</a>
                                {% else %}
                                    {{ human.active_tariff.tariff.title }}
                                {% endif %}
                            {% else %}&mdash;&mdash;&mdash;
                            {% endif %}
                        </td>
                        <td class="hidden-xs">{{ human.ballance }}</td>
                        <td class="hidden-xs">
                            {% if can_del_trf %}
                                <a href="{% url 'abonapp:del_abon' %}?id={{ human.pk }}" class="btn btn-danger btn-sm">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            {% endif %}
                        </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="11">
                                {% trans 'Subscribers not found' %}.
                                {% if perms.abonapp.add_abon %}
                                    <a href="{% url 'abonapp:add_abon' abon_group.pk %}">{% trans 'Add abon' %}</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    {% endwith %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="11" class="btn-group">
                            {% if perms.abonapp.add_abon %}
                                <a href="{% url 'abonapp:add_abon' abon_group.pk %}" class="btn btn-sm btn-default" title="{% trans 'Add' %}" data-toggle="tooltip">
                                    <span class="glyphicon glyphicon-plus"></span> {% trans 'Add abon' %}
                                </a>
                            {% endif %}
                            <a href="{% url 'abonapp:ch_group_tariff' abon_group.pk %}" class="btn btn-sm btn-default" title="{% trans 'User groups' %}" data-toggle="tooltip">
                                <span class="glyphicon glyphicon-subscript"></span> {% trans 'Tariffs in groups' %}
                            </a>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="col-lg-2 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">{% trans 'Streets' %}</div>
                <div class="list-group">
                    {% for street in streets %}
                        <a href="{% url 'abonapp:people_list' abon_group.pk  %}?{% url_page_replace request 'street' street.pk %}" class="list-group-item{% if street_id == street.pk %} active{% endif %}">{{ street.name }}</a>
                    {% empty %}
                        <a href="#" class="list-group-item">{% trans 'No streets found for that group' %}</a>
                    {% endfor %}
                    <div class="btn-group btn-group-sm btn-group-justified">
                        <a href="{% url 'abonapp:street_add' abon_group.pk %}" class="btn btn-success btn-modal" data-toggle="tooltip" title="{% trans 'Add street' %}">
                            <span class="glyphicon glyphicon-plus"></span> {% trans 'Add' %}
                        </a>
                        <a href="{% url 'abonapp:street_edit' abon_group.pk %}" class="btn btn-primary btn-modal" data-toggle="tooltip" title="{% trans 'Edit streets' %}">
                            <span class="glyphicon glyphicon-edit"></span> {% trans 'Edit' %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'toolbar_page.html' with pag=peoples %}

{% endblock %}
