{% extends request.is_ajax|yesno:'nullcont.htm,abonapp/ext.htm' %}
{% load i18n %}
{% block content %}

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>{% trans 'Author' %}</th>
            <th>{% trans 'Recipients' %}</th>
            <th>{% trans 'Comment' %}</th>
            <th>{% trans 'State' %}</th>
            <th>{% trans 'Type' %}</th>
            <th>{% trans 'Date of make' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td><a href="{% url 'acc_app:other_profile' task.author.id %}">{{ task.author.get_short_name }}</a></td>
                <td>
                    {% for rec in task.recipients.all %}
                        <a href="{% url 'acc_app:other_profile' rec.id %}">{{ rec.get_short_name }}</a>
                    {% empty %}
                        {% trans 'Recipients not found' %}
                    {% endfor %}
                </td>
                <td>{{ task.descr|default:'&mdash;' }}</td>
                <td>{{ task.get_state_display }}</td>
                <td>{{ task.get_mode_display }}</td>
                <td>{{ task.time_of_create|date:"D d E Y H:i:s" }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="6">{% trans 'Tasks not found' %}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="6">
                {% include 'taskapp/footer_btns.html' %}
            </td>
        </tr>
        </tfoot>

    </table>
    {% include 'pagination.html' %}
{% endblock %}