{% extends request.is_ajax|yesno:'nullcont.htm,abonapp/ext.htm' %}
{% load i18n %}
{% block content %}

    <div class="row">
        <div class="col-sm-6">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans 'View the subscriber' %}</h3>
                </div>
                <div class="panel-body">
                    <table class="table borderbot">
                    <tbody>
                        <tr>
                            <td>{% trans 'User group' %}</td>
                            <td>
                                <i>{{ abon.group|default:_('Not assigned') }}</i>
                            </td>
                        </tr>
                        <tr>
                            <td>{% trans 'Is active' %}</td>
                            <td>
                                <i>{{ abon.is_active|yesno:_('yes,no') }}</i>
                            </td>
                        </tr>
                        <tr>
                            <td>{% trans 'login' %}</td>
                            <td><i>{{ abon.username|default:_('Not assigned') }}</i></td>
                        </tr>
                        <tr>
                            <td>{% trans 'fio' %}</td>
                            <td><i>{{ abon.fio|default:_('Not assigned') }}</i></td>
                        </tr>
                        <tr>
                            <td>{% trans 'Telephone' %}</td>
                            <td><i>{{ abon.telephone|default:_('Not assigned') }}</i></td>
                        </tr>
                        <tr>
                            <td>{% trans 'Street' %}</td>
                            <td>
                                <i>{{ abon.street|default:_('Not assigned') }}</i>
                            </td>
                        </tr>
                        <tr>
                            <td>{% trans 'House' %}</td>
                            <td><i>{{ abon.house|default:_('Not assigned') }}</i></td>
                        </tr>
                        <tr>
                            <td>{% trans 'Ip Address' %}</td>
                            <td><i>{{ abon.ip_address|default:_('Not assigned') }}</i></td>
                        </tr>
                        <tr>
                            <td>{% trans 'Password' %}</td>
                            <td><i>{{ passw }}</i></td>
                        </tr>
                    </tbody>
                    </table>
                    {% if abon.description %}<p>{{ abon.description }}</p>{% endif %}
                </div>
            </div>

        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans 'Passport information' %}</h3>
                </div>
                <div class="panel-body">
                    <table class="table borderbot">
                    <tbody>
                    <tr>
                        <td>{% trans 'Pasport serial' %}</td>
                        <td><i>67 54 937238746</i></td>
                    </tr>
                    <tr>
                        <td>{% trans 'Distributor' %}</td>
                        <td><i>ОСУО Всякое название</i></td>
                    </tr>
                    <tr>
                        <td>Ещё строчка</td>
                        <td><i>Новая</i></td>
                    </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}