{% extends request.is_ajax|yesno:'nullcont.htm,abonapp/ext.htm' %}
{% block content %}

    <div class="row">
        <div class="col-sm-6">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Просмотр абонента</h3>
                </div>
                <div class="panel-body">
                    <table class="table borderbot">
                    <tbody>
                        <tr>
                            <td>Группа</td>
                            <td>
                                <i>{{ abon.group|default:'&lt;нет&gt;' }}</i>
                            </td>
                        </tr>
                        <tr>
                            <td>Активен</td>
                            <td>
                                <i>{{ abon.is_active|yesno:'Да,Нет' }}</i>
                            </td>
                        </tr>
                        <tr>
                            <td>Логин</td>
                            <td><i>{{ abon.username|default:'&lt;нет&gt;' }}</i></td>
                        </tr>
                        <tr>
                            <td>ФИО</td>
                            <td><i>{{ abon.fio|default:'&lt;нет&gt;' }}</i></td>
                        </tr>
                        <tr>
                            <td>Телефон</td>
                            <td><i>{{ abon.telephone|default:'&lt;нет&gt;' }}</i></td>
                        </tr>
                        <tr>
                            <td>Улица</td>
                            <td>
                                <i>{{ abon.street|default:'&lt;нет&gt;' }}</i>
                            </td>
                        </tr>
                        <tr>
                            <td>Дом</td>
                            <td><i>{{ abon.house|default:'&lt;не указан&gt;' }}</i></td>
                        </tr>
                        <tr>
                            <td>IP Адрес</td>
                            <td><i>{{ abon.ip_address|default:'&lt;не назначен&gt;' }}</i></td>
                        </tr>
                        <tr>
                            <td>Пароль</td>
                            <td><i>{{ passw }}</i></td>
                        </tr>
                    </tbody>
                    </table>
                    {% if abon.description %}<p>{{ abon.description }}</p>{% endif %}
                </div>
            </div>

        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Паспортные данные (статичная)</h3>
                </div>
                <div class="panel-body">
                    <table class="table borderbot">
                    <tbody>
                    <tr>
                        <td>Серия пас.</td>
                        <td><i>67 54 937238746</i></td>
                    </tr>
                    <tr>
                        <td>Кем выдан</td>
                        <td><i>ОСУО Всякое название</i></td>
                    </tr>
                    <tr>
                        <td>Ещё строчка</td>
                        <td><i>Новая</i></td>
                    </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}