Django==1.11
Pillow
telepot

# for mac address field
netaddr

# for testing required xmltodict
xmltodict

# Django recommended mysql client
mysqlclient

easysnmp
pid
django-guardian
pinax-theme-bootstrap
django-bootstrap3
django-jsonfield
requests
webdavclient
pyst2
