urllib3==1.25.10
Django==2.2.17
Pillow==7.2.0

# for mac address field
netaddr==0.8.0

# for testing required xmltodict
#xmltodict
dicttoxml==1.7.4

# db client for Mariadb
mysqlclient

https://github.com/nerosketch/easysnmp/archive/refs/tags/0.2.5.zip#egg=easysnmp
pid==3.0.4
django-guardian==2.3.0
pinax-theme-bootstrap==8.0.1
django-bootstrap3==14.1.0

jsonfield

requests==2.24.0
webdavclient==1.0.8
transliterate==1.10.2
django-encrypted-model-fields==0.5.8

# django-xmlview for pay system allpay
https://github.com/nerosketch/django-xmlview/archive/refs/tags/v0.0.2.zip#egg=django-xmlview

# django-bitfield
https://github.com/disqus/django-bitfield/archive/refs/tags/2.2.0.zip#egg=django-bitfield

# django_cleanup for clean unused media
https://github.com/un1t/django-cleanup/archive/refs/tags/6.0.0.zip#egg=django_cleanup

# viberbot
https://github.com/Viber/viber-bot-python/archive/refs/tags/1.0.11.zip#egg=viberbot

# pexpect
https://github.com/pexpect/pexpect/archive/refs/tags/4.8.0.zip#egg=pexpect

Celery
redis==3.5.3
celery[redis]

docxtpl
gunicorn
