{% extends 'base.html' %}
{% block main %}


    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home"></span></li>
        <li><a href="{% url 'ip_pool:home' %}">IP Пул</a></li>
        <li class="active">Добавить</li>
    </ol>



    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Добавить IP пул</h3>
        </div>
        <div class="panel-body">
            {% if warntext %}
                <div class="alert-danger">{{ warntext }}</div>
            {% endif %}
            <form role="form" action="{% url 'ip_pool:add' %}" method="post">{% csrf_token %}
                <div class="form-group">
                    <label for="start_ip">Начальный ip</label>

                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-cutlery"></span></span>
                        {{ form.start_ip }}{{ form.start_ip.errors }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Конечный ip</label>

                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-gbp"></span></span>
                        {{ form.end_ip }}{{ form.end_ip.errors }}
                    </div>
                </div>
                <div class="btn-group">
                    <button type="submit" class="btn btn-sm btn-primary">
                        <span class="glyphicon glyphicon-save"></span> Сохранить
                    </button>
                    <button type="reset" class="btn btn-sm btn-default">
                        <span class="glyphicon glyphicon-remove-circle"></span> Сбросить
                    </button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}