{% extends 'base.html' %}
{% block main %}

    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home"></span></li>
        <li class="active">Администраторы</li>
    </ol>


    <h3>Список аккаунтов администраторов</h3>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th class="col-sm-1">Фото</th>
                <th>Ник</th>
                <th>ФИО (или ник если нет)</th>
                <th class="col-sm-2">Телефон</th>
                <th class="col-sm-2">Skype</th>
                <th width="150">&mdash;</th>
            </tr>
            </thead>
            <tbody>
            {% for usr in users %}
                <tr>
                    <td><a href="{% url 'other_profile' usr.id %}">
                        <img width="50" src="{{ usr.avatar.min|default:"/static/img/user_ava.gif" }}"
                             alt="{{ usr.username }}"/>
                    </a></td>
                    <td><a href="{% url 'other_profile' usr.id %}">{{ usr.username }}</a></td>
                    <td>{{ usr.get_full_name }}</td>
                    <td>{% if usr.telephone %}<a href="tel:{{ usr.telephone }}">{{ usr.telephone }}</a>{% else %}
                        Нету{% endif %}</td>
                    <td>{% if usr.skype %}<a href="skype:{{ usr.skype }}?call">{{ usr.skype }}{% else %}
                        Нету{% endif %}</a></td>
                    <td class="btn-group">
                        <a href="{% url 'profile_appoint_task' usr.id %}" class="btn btn-sm btn-default"
                           title="Дать задание">
                            <span class="glyphicon glyphicon-tasks"></span>
                        </a>
                        <a href="{% url 'privmsg_send_message' %}?a={{ usr.id }}" class="btn btn-sm btn-info"
                           title="Отправить сообщение">
                            <span class="glyphicon glyphicon-envelope"></span>
                        </a>
                        <a href="#" class="btn btn-sm btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6"><b>Нет пользователей</b></td>
                </tr>
            {% endfor %}
            </tbody>
            {% if request.user.is_superuser %}
                <tfoot>
                <tr>
                    <th colspan="6">
                        <a href="{% url 'create_profile_link' %}" class="btn btn-default" title="Добавить аккаунт">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                        </a>
                    </th>
                </tr>
                </tfoot>
            {% endif %}
        </table>
    </div>

    {% include 'toolbar_page.html' with pag=users %}

{% endblock %}