{% extends request.is_ajax|yesno:'bajax.html,base.html' %}
{% block main %}

    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home"></span></li>
        <li><a href="{% url 'accounts_list' %}">Администраторы</a></li>
        <li class="active">{{ userprofile.username }}</li>
    </ol>


    <div class="row">
        <div class="col-sm-3">
            <div class="thumbnail">
                {% if userprofile.avatar %}
                    <img alt="ava" src="{{ userprofile.avatar.min }}"/>
                {% else %}
                    <img alt="ava" src="/static/img/user_ava.gif"/>
                {% endif %}
                <div class="caption btn-group btn-group-sm">
                    <a href="{% url 'settings_chinfo_link' %}" class="btn btn-primary btn-sm" role="button">
                        <span class="glyphicon glyphicon-edit"></span> Редактировать</a>
                    <a href="{% url 'task_add' %}?rp={{ userprofile.id }}" class="btn btn-default btn-sm" role="button">
                        <span class="glyphicon glyphicon-star-empty"></span> Дать задачу</a>
                </div>
            </div>
        </div>

        <div class="col-sm-9">
            <h3>{{ userprofile.username|default:"&lt;Нет ника&gt;" }}</h3>
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#livetab_content" data-tab-remote="{% url 'other_profile' uid %}" role="tab"
                       data-toggle="tab">
                        Администратор
                    </a>
                </li>
                <li>
                    <a href="#livetab_content" data-tab-remote="{% url 'profile_chgroup_link' uid %}" role="tab"
                       data-toggle="tab">
                        Группы
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="livetab_content">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}