{% extends request.is_ajax|yesno:'nullcont.htm,accounts/ext.htm' %}
{% block content %}

<table class="table table-striped table-bordered">
    <tbody>
        <tr>
            <td class="col-sm-4">Телефон</td>
            <td><a href="tel:{{ userprofile.telephone }}">{{ userprofile.telephone }}</a></td>
        </tr>
        <tr>
            <td>Логин</td>
            <td>{{ userprofile.username }}</td>
        </tr>
        <tr>
            <td>ФИО</td>
            <td>{{ userprofile.fio }}</td>
        </tr>
        <tr>
            <td>Включён-ли</td>
            <td><input type="checkbox" {{ userprofile.is_active|yesno:' checked,' }}></td>
        </tr>
        <tr>
            <td>Последняя авторизация</td>
            <td>{{ userprofile.last_login|date:"l d E Y H:i" }}</td>
        </tr>
        <tr>
            <td>Выделенный ip</td>
            <td>&lt;10.155.13.43&gt;</td>
        </tr>
        {% if request.user.is_superuser %}
        <tr>
            <td>Административный доступ (все права)</td>
            <td><input type="checkbox"{{ userprofile.is_staff|yesno:' checked,' }}></td>
        </tr>
        {% endif %}
    </tbody>
</table>

{% endblock %}