{% extends request.is_ajax|yesno:'nullcont.htm,accounts/ext.htm' %}
{% block content %}

    <legend>Принадлежность аккаунта группам</legend>
    <form action="{% url 'profile_perms_link' userprofile.id %}" method="post" role="form">{% csrf_token %}
        <div class="form-group">
            <label for="sel_left">Доступные группы</label>
            <select name="allgroups" multiple id="sel_left" class="form-group">
                {% for gr in allgroups %}<option value="{{ gr.id }}">{{ gr.name }}</option>
                {% endfor %}
            </select>
        </div>
        <ul class="form-group">
            <li><a href="javascript:chooser_select('sel_left','sel_right');" class="btn btn-sm btn-default">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a></li>
            <li><a href="javascript:chooser_select('sel_right','sel_left');" class="btn btn-sm btn-default">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a></li>
        </ul>
        <div class="form-group">
            <label for="sel_right">Группы пользователя</label>
            <select name="ingroups" multiple id="sel_right" class="form-group">
                {% for gr in usergroups %}<option value="{{ gr.id }}">{{ gr.name }}</option>
                {% endfor %}
            </select>
        </div><br/>
        <input type="submit" value="Сохранить"> <input type="reset" value="Сбросить">
    </form>

{% endblock %}