{% extends request.is_ajax|yesno:'bajax.html,base.html' %}
{% load i18n %}
{% block main %}

    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home"></span></li>
        <li><a href="{% url 'taskapp:home' %}">{% trans 'Tasks' %}</a></li>
        <li class="active">#{{ task.pk }}</li>
    </ol>

    {% include 'message_block.html' %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{% trans 'Task description' %}</h3>
        </div>
        <div class="panel-body">

            <p>{% trans 'Description' %}: {{ task.descr }}</p>

            {% trans 'Task author' %}: <a href="{% url 'acc_app:other_profile' task.author.pk %}" title="{{ task.author.get_full_name }}" data-toggle="tooltip" target="_blank">{{ task.author.username }}</a><br>

            {% trans 'Implementers' %}:
            <ul>
                {% for recipient in task.recipients.all %}
                <li><a href="{% url 'acc_app:other_profile' recipient.pk %}" target="_blank">{{ recipient.get_full_name }}</a></li>
                {% endfor %}
            </ul>
            {% trans 'A priority' %}: {{ task.get_priority_display }}<br>
            {% trans 'The task is valid until' %} {{ task.out_date|date:'d E Y' }}<br>
            {% trans 'Date of create' %} {{ task.time_of_create|date:'d E Y H:i:s' }}<br>
            {{ time_diff }}<br>
            {% trans 'Task type' %}: {{ task.get_mode_display }}<br>
            {% trans 'Condition' %}: {{ task.get_state_display }}<br>
            {% trans 'Subscriber' %}
            {% if task.abon %}
                <a href="{% url 'abonapp:abon_home' task.abon.group.pk task.abon.pk %}" target="_blank">{{ task.abon.get_full_name }}</a>
            {% else %}
                <i>{% trans 'Not assigned' %}</i>
            {% endif %}<br>
            {% if task.attachment %}
                {% trans 'Attachment' %}:
                <a href="{{ task.attachment.url }}" class="thumbnail" target="_blank">
                    <img src="{{ task.attachment.url }}">
                </a>
            {% endif %}

        </div>
    </div>

{% endblock %}
