{% extends request.is_ajax|yesno:'bajax.html,base.html' %}
{% block main %}

    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home"></span></li>
        <li class="active">Задачи</li>
    </ol>


    {% include 'message_block.html' %}

    <div class="page-header">
        <h2>Задачи, которые необходимо выполнить</h2>
    </div>

    <ul class="nav nav-tabs">

        {% url 'taskapp:home' as taskhome %}
        <li{% if taskhome == request.path %} class="active"{% endif %}>
            <a href="{{ taskhome }}">
                Новые задачи
            </a>
        </li>

        {% url 'taskapp:active_tasks' as taskactive %}
        <li{% if taskactive == request.path %} class="active"{% endif %}>
            <a href="{{ taskactive }}">
                Активные задачи
            </a>
        </li>

        {% url 'taskapp:finished_tasks' as taskfin %}
        <li{% if taskfin == request.path %} class="active"{% endif %}>
            <a href="{{ taskfin }}">
                Выполненные задачи
            </a>
        </li>

        {% url 'taskapp:own_tasks' as taskown %}
        <li{% if taskown == request.path %} class="active"{% endif %}>
            <a href="{{ taskown }}">
                Назначенные мной задачи
            </a>
        </li>

        {% url 'taskapp:my_tasks' as taskmy %}
        <li{% if taskmy == request.path %} class="active"{% endif %}>
            <a href="{{ taskmy }}">
                Все мои задачи
            </a>
        </li>

    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="livetab_content">
            {% block content %}{% endblock %}
        </div>
    </div>

{% endblock %}
