{% extends request.is_ajax|yesno:'nullcont.htm,taskapp/ext.htm' %}
{% block content %}

    <div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr><th>#</th>
                <th class="col-sm-4">Пару слов..</th>
                <th class="col-sm-1">Кому назначена</th>
                <th class="col-sm-1">Кто назначил</th>
                <th class="col-sm-1">Состояние</th>
                <th class="col-sm-1">Приоритет</th>
                <th class="col-sm-1">Время выполнения</th>
                <th class="col-sm-1">Дата создания</th>
                <th class="col-sm-2" colspan="3">Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}

        {% if task.priority == 'E' %}<tr class="danger">
        {% elif task.priority == 'D' %}<tr class="warning">
        {% elif task.priority == 'C' %}<tr class="info">
        {% elif task.priority == 'B' %}<tr>
        {% elif task.priority == 'A' %}<tr class="success">
        {% else %}<tr>{% endif %}

            <td>{{ task.id }}</td>
            <td>{{ task.descr }}</td>
            <td><a href="{% url 'other_profile' task.recipient.id %}" title="{{ task.recipient.get_full_name }}">{{ task.recipient.username }}</a></td>
            <td><a href="{% url 'other_profile' task.author.id %}" title="{{ task.author.get_full_name }}">{{ task.author.username }}</a></td>
            <td>{{ task.get_state_display }}</td>
            <td>{{ task.get_priority_display }}</td>
            <td>{{ task.out_date|date:'d N yг' }}</td>
            <td>{{ task.time_of_create|date:'d N yг H:i:s' }}</td>
            <td colspan="3" class="btn-group">
                <a href="{% url 'task_finish' task.id %}" class="btn btn-sm btn-success" title="Завершить">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
                <a href="{% url 'task_edit' task.id %}" class="btn btn-sm btn-default" title="Редактировать">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
                <a href="#" class="btn btn-sm btn-danger disabled" title="Удалить">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="11">Список пуст</td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="11">
                <a href="{% url 'task_add' %}" class="btn btn-sm btn-success" title="Создать новую задачу">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </td>
        </tr>
        </tfoot>
    </table>
    </div>

    {% include 'toolbar_page.html' with pag=tasks %}

{% endblock %}
