{% extends request.is_ajax|yesno:'bajax.html,base.html' %}
{% load i18n %}
{% block main %}

    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home"></span></li>
        <li><a href="{% url 'devapp:group_list' %}">{% trans 'Groups' %}</a></li>
        <li><a href="{% url 'devapp:devs' group.pk %}">{{ group.title }}</a></li>
        <li class="active">{% trans 'Add new device' %}</li>
    </ol>

    {% include 'message_block.html' %}

    <div class="page-header">
        <h2>{{ group.title|default:_('Not assigned') }}</h2>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{% trans 'Device info' %}</h3>
        </div>
        <div class="panel-body">

            <form role="form" action="{% url 'devapp:add' group.pk %}" method="post" autocomplete="off">{% csrf_token %}

                <div class="form-group">
                    <label for="id_ip_address">{% trans 'Ip address' %}</label>

                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></span>
                        {{ form.ip_address }}{{ form.ip_address.errors }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="id_mac_addr">{% trans 'Mac address' %}</label>

                    <div class="input-group{% if form.mac_addr.errors %} has-error{% endif %}">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></span>
                        {{ form.mac_addr }}
                        {% if already_dev %}
                            <span class="input-group-btn">
                                <a class="btn btn-danger" href="{% url 'devapp:view' group.pk already_dev.pk %}" title="{% trans 'View the device' %}" data-toggle="tooltip">
                                    {% for err in form.mac_addr.errors %}{{ err }}{% endfor %}
                                    {{ already_dev.comment }}
                                </a>
                            </span>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="id_comment">{% trans 'Comment' %}</label>

                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-comment"></span></span>
                        {{ form.comment }}{{ form.comment.errors }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="id_devtype">{% trans 'Device type' %}</label>

                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-hdd"></span></span>
                        {{ form.devtype }}{{ form.devtype.errors }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="id_man_passw">{% trans 'SNMP password' %}</label>

                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        {{ form.man_passw }}{{ form.man_passw.errors }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="id_map_dot">{% trans 'Map point' %}</label>

                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></span>
                        {{ form.map_dot }}{{ form.devtype.errors }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="id_user_group">{% trans 'User group' %}</label>

                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-subscript"></span></span>
                        {{ form.user_group }}{{ form.user_group.errors }}
                    </div>
                </div>

                <div class="btn-group">
                    <button type="submit" class="btn btn-sm btn-primary">
                        <span class="glyphicon glyphicon-save"></span> {% trans 'Save' %}
                    </button>
                    <button type="reset" class="btn btn-sm btn-default">
                        <span class="glyphicon glyphicon-remove-circle"></span> {% trans 'Reset' %}
                    </button>
                </div>

            </form>
        </div>
    </div>

{% endblock %}
