{% extends request.is_ajax|yesno:'bajax.html,base.html' %}
{% load i18n %}
{% block main %}

    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home"></span></li>
        <li><a href="{% url 'devapp:group_list' %}">{% trans 'Groups' %}</a></li>
        {% if dev.group %}
            <li><a href="{% url 'devapp:devs' dev.group.pk %}">{{ dev.group.title }}</a></li>
        {% else %}
            <li>{% trans 'Not assigned' %}</li>
        {% endif %}
        <li class="active">{{ dev.comment }}</li>
    </ol>

    {% include 'message_block.html' %}

    <div class="page-header">
        <h2>{{ dev.comment|default:_('Not assigned') }}</h2>
    </div>

    <ul class="nav nav-tabs">

        {% url 'devapp:view' dev.group.pk|default:0 dev.pk as devapp_view %}
        <li{% if devapp_view == request.path %} class="active"{% endif %}>
            <a href="{{ devapp_view }}">
                {% trans 'Ports' %} {{ dev.ip_address }}
            </a>
        </li>

        {% if perms.devapp.change_device %}
            {% url 'devapp:edit' dev.group.pk|default:0 dev.pk as devapp_edit %}
            <li{% if devapp_edit == request.path %} class="active"{% endif %}>
                <a href="{{ devapp_edit }}">{% trans 'Edit' %}</a>
            </li>

            {% url 'devapp:manage_ports' dev.group.pk|default:0 dev.pk as devapp_mports %}
            <li{% if devapp_mports == request.path %} class="active"{% endif %}>
                <a href="{{ devapp_mports }}">{% trans 'Ports' %}</a>
            </li>
        {% endif %}
    </ul>

    <div class="tab-content">
        <div class="tab-pane active">
            {% block content %}{% endblock %}
        </div>
    </div>

{% endblock %}
