{% extends request.is_ajax|yesno:'nullcont.htm,accounts/settings/ext.htm' %}
{% load globaltags %}
{% load i18n %}
{% block content %}

    <form role="form" action="{% url 'acc_app:setup_info' %}" method="post">{% csrf_token %}

        <div class="form-group">
            <label for="login">{% trans 'User name' %}</label>

            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                <input id="login" type="text" value="{{ user.username }}" name="username" placeholder="{% trans 'User name' %}"
                       required class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label for="fio">{% trans 'Name and surname' %}</label>

            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                <input id="fio" type="text" value="{{ user.fio }}" name="fio" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label for="mail">{% trans 'Email' %}</label>

            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                <input id="mail" type="text" value="{{ user.email }}" name="email" placeholder="Email"
                       class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label for="tel">{% trans 'Telephone' %}</label>

            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                <input id="tel" type="text" value="{{ user.telephone }}" pattern="{% global_var 'TELEPHONE_REGEXP' %}" name="telephone"
                       placeholder="{% trans '+[7,8,9,3] and 10,11 digits' %}" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label for="oldpassw">{% trans 'Old password' %}</label>

            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                <input id="oldpassw" type="password" name="oldpasswd" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label for="npassw">{% trans 'New password' %}</label>

            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                <input id="npassw" type="Password" name="newpasswd" class="form-control">
            </div>
        </div>

        <div class="btn-group">
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span> {% trans 'Save' %}
            </button>
            <button type="reset" class="btn btn-default">
                <span class="glyphicon glyphicon-remove"></span> {% trans 'Reset' %}
            </button>
        </div>

    </form>

{% endblock %}