{% extends request.is_ajax|yesno:'bajax.html,base.html' %}
{% block main %}

    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home"></span></li>
        <li><a href="{% url 'acc_app:accounts_list' %}">Администраторы</a></li>
        <li><a href="{% url 'acc_app:profile' %}">{{ user.username }}</a></li>
        <li class="active">Настройки</li>
    </ol>

    {% include 'message_block.html' %}

    <div class="row">
        <div class="col-sm-3">
            <form action="{% url 'acc_app:setup_avatar' %}" method="post" class="thumbnail"
                  enctype="multipart/form-data">{% csrf_token %}

                {% if user.avatar %}<img alt="ava" src="{{ user.avatar.min }}"/>
                    {% else %}<img alt="ava" src="/static/img/user_ava.gif"/>
                {% endif %}

                <div class="caption">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <input type="file" name="avatar" class="live_review" accept="image/png, image/jpeg, image/gif">
                </div>
            </form>
        </div>

        <div class="col-sm-9">
            <h3>{{ user.username|default:"&lt;Нет ника&gt;" }}</h3>
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#livetab_content" data-tab-remote="{% url 'acc_app:setup_info' %}" role="tab"
                       data-toggle="tab">
                        Изменить инфу о себе
                    </a>
                </li>
                {% if user.is_superuser %}
                <li>
                    <a href="#livetab_content" data-tab-remote="{% url 'acc_app:setup_perms' user.id %}">
                        Настройка прав
                    </a>
                </li>
                {% endif %}
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}