<p>
    <label for="id_permissions">Permissions:</label>
    <select multiple="multiple" id="id_permissions" name="permissions">
        <option value="add_abongroup">Can add abon group</option>

        <option value="can_add_ballance">Пополнение счёта</option>

        <option value="can_view_abongroup" selected="selected">Can view subscriber group</option>

        <option value="change_abongroup">Can change abon group</option>

        <option value="delete_abongroup">Can delete abon group</option>
    </select>
</p>
