"""
Custom settings for each system
"""

DEBUG = False

ALLOWED_HOSTS = '*',

DEFAULT_FROM_EMAIL = 'admin@yoursite.com'

PAGINATION_ITEMS_PER_PAGE = 20

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = '!!!!!!!!!!!!!!!!!!!!!!!!YOUR SECRET KEY!!!!!!!!!!!!!!!!!!!!!!!!'

DATABASES = {
    'default': {
        'OPTIONS': {
            'init_command': "SET sql_mode='STRICT_TRANS_TABLES', default_storage_engine=INNODB",
            'isolation_level': 'read uncommitted'
        },
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'djing_db',
        'USER': 'djinguser',  # You can change the user name
        'PASSWORD': 'password',  # You can change the password
        'HOST': 'localhost',
        'TEST': {
            'CHARSET': 'utf8',
            'COLLATION': 'utf8_general_ci'
        }
    }
}


DEFAULT_SNMP_PASSWORD = 'public'

# Telephone or empty
TELEPHONE_REGEXP = r'^(\+[7893]\d{10,11})?$'

# Secret word for auth to api views by hash
API_AUTH_SECRET = 'your api secret'

# Allowed subnet for api
# Fox example: API_AUTH_SUBNET = ('127.0.0.0/8', '10.0.0.0/8', '192.168.0.0/16')
API_AUTH_SUBNET = '127.0.0.0/8'

# Company name
COMPANY_NAME = 'Your company name'

# Email config
EMAIL_HOST_USER = 'YOUR-EMAIL@mailserver.com'
EMAIL_HOST = 'smtp.mailserver.com'
EMAIL_PORT = 587
EMAIL_HOST_PASSWORD = 'password'
EMAIL_USE_TLS = True

# public url for Viber Bot
VIBER_BOT_PUBLIC_URL = 'https://your_domain.name'

# Encrypted fields
# https://pypi.org/project/django-encrypted-model-fields/
# You must change this value
#FIELD_ENCRYPTION_KEY = 'vZpDlDPQyU6Ha7NyUGj9uYMuPigejtEPMOZfkYXIQRw='
