{% extends 'clientsideapp/ext.html' %}
{% block client_main %}

    <div class="page-header">
      <h3>Заказать услугу</h3>
      <p>Ваша текущая услуга <a href="#dv">Стандартный</a> за <b>130</b> руб.</p>
    </div>
    <div class="container">
    <div class="row">
        <div class="col-lg-4">
            <h4>Ваши услуги</h4>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="#del" class="btn btn-xs btn-link" title="Удалить услугу из списка">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                    <span class="badge">130</span>
                    <a href="#sdv"><b>Стандартный</b></a>
                </li>
                <li class="list-group-item">
                    <a href="#del" class="btn btn-xs btn-link" title="Удалить услугу из списка">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                    <span class="badge">500</span>
                    <a href="#dsg">Премиум</a>
                </li>
                <li class="list-group-item">
                    <a href="#del" class="btn btn-xs btn-link" title="Удалить услугу из списка">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                    <span class="badge">500</span>
                    <a href="#dsg">Премиум</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-8">
            <h4>Выберите ещё услугу</h4>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4">
                        <h3>Название услуги</h3>
                        <p>Опис</p>
                        <a href="#" class="btn btn-default">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Купить
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <h3>Название услуги</h3>
                        <p>Описание услуги, длинное длинное</p>
                        <a href="#" class="btn btn-default">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Купить
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <h3>Название услуги</h3>
                        <p>Описание услуги, длинное длинное</p>
                        <a href="#" class="btn btn-default">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Купить
                        </a>
                    </div>
                    <div class="col-lg-4">
                    <h3>Название услуги</h3>
                    <p>Описание услуги, длинное длинное</p>
                    <a href="#" class="btn btn-default">
                        <span class="glyphicon glyphicon-shopping-cart"></span> Купить
                    </a>
                </div>
                <div class="col-lg-4">
                    <h3>Название услуги</h3>
                    <p>Описание услуги, длинное длинное</p>
                    <a href="#" class="btn btn-default">
                        <span class="glyphicon glyphicon-shopping-cart"></span> Купить
                    </a>
                </div>
                </div>
            </div>
        </div>



    </div>
    </div>

{% endblock %}