{% extends 'clientsideapp/ext.html' %}
{% block client_main %}

    <div class="page-header">
        <h3>Заказать услугу</h3>
        {% if current_service %}
            <p>Ваша текущая услуга <a href="#dv">{{ current_service.tariff.title }}</a>
                за <b>{{ current_service.tariff.amount }}</b> руб.</p>
        {% else %}
            <p>У вас нет активной услуги, для использования ресурсов приобретите нужную услугу из представленных
                ниже.<br>
                А если уже заказали то просто активируйте услугу из списка заказанных.</p>
        {% endif %}
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>Ваши заказанные услуги</h4>
                <ul class="list-group">
                    {% for abon_tariff in own_abon_tariffs %}
                        <li class="list-group-item">
                            <div class="btn-group">
                                <a href="#sdf" class="btn btn-xs btn-success" title="Активировать">
                                    <span class="glyphicon glyphicon-fire"></span>
                                </a>
                                <a href="#del" class="btn btn-xs btn-danger" title="Удалить услугу из списка">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </div>
                            <span class="badge">{{ abon_tariff.tariff.amount }}</span>
                            <a href="#sdv">
                                {% if abon_tariff.is_started %}<b>{{ abon_tariff.tariff.title }}</b>
                                {% else %}{{ abon_tariff.tariff.title }}{% endif %}
                            </a>
                        </li>
                    {% empty %}
                        <li class="list-group-item">У вас нет заказанных услуг</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-lg-8">
                <h4>Выберите ещё услугу</h4>

                <div class="container-fluid">
                    <div class="row">
                        {% for tarif in tarifs %}
                            <div class="col-lg-4">
                                <h3>{{ tarif.title }}</h3>

                                <p>{{ tarif.descr }}</p>

                                <p>Входящая скорость: {{ tarif.speedIn }} MBit/s<br>
                                    Исходящая скорость: {{ tarif.speedOut }} MBit/s<br>
                                    Стоимость: {{ tarif.amount }} руб.</p>
                                <a href="#" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-shopping-cart"></span> Заказать
                                </a>
                            </div>
                        {% empty %}
                            <div class="col-lg-4">
                                <h3 class="panel-title">Нет доступных услуг для заказа</h3>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>


        </div>
    </div>

{% endblock %}