{% extends 'clientsideapp/ext.html' %}
{% load i18n %}
{% block client_main %}

    <div class="page-header">
        <h3>{% trans 'Debts' %}</h3>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{% trans 'repayment of debts' %}</h3>
        </div>
        <div class="panel-body">
            <form role="form" action="{% url 'client_side:debt_buy' debt.id %}" method="post">{% csrf_token %}
                <div class="checkbox">
                    <label>
                        <input type="checkbox" checked name="sure">
                        {% trans 'Are you sure you want to spend a payment?' %}
                    </label>
                </div>
                <p>{% blocktrans %}From your account, they withdraw funds in <b>{{ amount }}</b> rub.<br/>
As a result, you will remain on your account {{ ballance_after }} rubles.<br/>
The administrator can immediately see that you shut down the debt.{% endblocktrans %}</p>
                <h4>{% trans 'Description of payment' %}</h4>

                <div class="alert alert-info">
                    {{ debt.comment }}
                </div>

                <div class="btn-group">
                    <button type="submit" class="btn btn-sm btn-primary">
                        <span class="glyphicon glyphicon-save"></span> {% trans 'Confirm' %}
                    </button>
                    <a href="{% url 'client_side:debts' %}" class="btn btn-sm btn-default">
                        <span class="glyphicon glyphicon-remove-circle"></span> {% trans 'Cancel' %}
                    </a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}