<!DOCTYPE HTML>{% load globaltags i18n %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% global_var 'COMPANY_NAME' %} - {% trans 'Personal account' %}</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/clientside/custom.css" rel="stylesheet">
    <script src="/static/js/jquery-2.2.4.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/clientside/my_clientside.js"></script>
    <link rel="shortcut icon" href="/static/img/favicon_m.ico">
</head>
<body>
<!-- Modal -->
<div class="modal fade" id="modFrm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="modContent"></div>
    </div>
</div>

{% url 'client_side:home' as client_side_home %}
<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="/static/clientside/bc.png" class="navbar-brand">
            <a class="navbar-brand hidden-xs" href="{{ client_side_home }}">{% global_var 'COMPANY_NAME' %}</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">

                <li{% if client_side_home == request.path %} class="active"{% endif %}>
                <a href="{{ client_side_home }}">{% trans 'Personal account' %}</a>
                </li>

                {% url 'client_side:pays' as client_side_pays %}
                <li{% if client_side_pays == request.path %} class="active"{% endif %}>
                <a href="{{ client_side_pays }}">{% trans 'Pays' %}</a>
                </li>

                {% url 'client_side:services' as client_side_services %}
                <li{% if client_side_services == request.path %} class="active"{% endif %}>
                <a href="{{ client_side_services }}">{% trans 'Services' %}</a>
                </li>

{#                <li class="dropdown">#}
{#                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Language' %} <b class="caret"></b></a>#}
{#                    <ul class="dropdown-menu">#}
{#                        {% url 'set_language' as set_language_url %}#}
{#                        {% for lang in LANGUAGES %}#}
{#                        <li><a href="#" id="langfrm_{{ lang.0 }}" onclick="document.setLang{{ lang.0 }}.submit();">{{ lang.1 }}</a></li>#}
{#                        <form name="setLang{{ lang.0}}" action="{{ set_language_url }}" method="POST" class="hidden">{% csrf_token %}#}
{#                            <input type="hidden" name="language" value="{{ lang.0 }}">#}
{#                        </form>#}
{#                        {% endfor %}#}
{#                    </ul>#}
{#                </li>#}

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Other' %} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'client_side:debts' %}">{% trans 'Show debts and pay it' %}</a></li>
                        <li><a href="{% url 'client_side:task_history' %}">{% trans 'Show task history' %}</a></li>
                        <li><a href="{% url 'acc_app:logout' %}">{% trans 'Quit' %}</a></li>
                    </ul>
                </li>
            </ul>
            <span class="navbar-text">
                {% blocktrans with ballance=request.user.ballance|floatformat:2 %}Your balance is <b>{{ ballance }}</b>{% endblocktrans %} {% trans 'currency' %}
            </span>
        </div><!--/.nav-collapse -->
    </div>
</div>


<div class="container">

    {% if request.user.is_staff %}
    <div class="alert alert-info">
        {% blocktrans trimmed %}
            <strong>Attantion!</strong>
            You are is admin, and do not be active here, please back to admin side. Client side to you for reference only.
        {% endblocktrans %}
    </div>
    {% endif %}

    {% include '_messages.html' %}

    {% block client_main %}{% endblock %}
</div>

<footer>
    <div class="container">
        <p class="text-muted">
            {% include 'custom_pages/footer.htm' %}
        </p>
    </div>
</footer>


</body>
</html>
