<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Личный кабинет</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/clientside/custom.css" rel="stylesheet">
    <script src="/static/js/jquery-2.2.4.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/clientside/my_clientside.js"></script>
    <link rel="shortcut icon" href="/static/img/favicon_m.ico">
</head>
<body>
<!-- Modal -->
<div class="modal fade" id="modFrm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="modContent"></div>
    </div>
</div>
<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="/static/clientside/bc.png" class="navbar-brand">
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">

                {% url 'client_side:home' as client_side_home %}
                <li{% if client_side_home == request.path %} class="active"{% endif %}>
                    <a href="{{ client_side_home }}">Личный кабинет</a>
                </li>

                {% url 'client_side:pays' as client_side_pays %}
                <li{% if client_side_pays == request.path %} class="active"{% endif %}>
                    <a href="{{ client_side_pays }}">Платежи</a>
                </li>

                {% url 'client_side:services' as client_side_services %}
                <li{% if client_side_services == request.path %} class="active"{% endif %}>
                    <a href="{{ client_side_services }}">Услуги</a>
                </li>


                <!--<li>
                    <a href="#">
                        Сообщения из администрации
                        <span class="badge">14</span>
                    </a>
                </li>

                <li><a href="#contact">График трафика</a></li>-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Другое <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <!--<li><a href="#">Подать заявку</a></li>-->
                        <li><a href="{% url 'client_side:debts' %}">Просмотреть и оплатить долги</a></li>
                        <!--<li><a href="#">Сеансы подключений</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>-->
                        <li><a href="{% url 'acc_app:logout' %}">Выйти</a></li>
                    </ul>
                </li>
            </ul>
            <span class="navbar-text">Ваш балланс <b>{{ subscriber.ballance|floatformat:2 }}</b> руб.</span>
        </div><!--/.nav-collapse -->
    </div>
</div>


<div class="container">

    {% if request.user.is_staff %}
        <div class="alert alert-info">
            <strong>Кстати.</strong>
            Вы администратор, и не должны производить действия из кабинета пользователя, производите их из админки.
            Кабинет клиента для вас только для ознакомления.
        </div>
    {% endif %}

    {% include 'message_block.html' %}

    {% block client_main %}{% endblock %}
</div>

<div id="footer">
    <div class="container">
        <p class="text-muted">
            Напишите разработчику <i>is-ttk@ya.ru</i>.
        </p>
    </div>
</div>


</body>
</html>
