{% extends 'clientsideapp/ext.html' %}
{% block client_main %}

    <div class="panel panel-primary">
        <div class="panel-heading">Наши реквизиты</div>
        <div class="panel-body">
            <ul>
                <li><b>Режим работы:</b> с 9:00 до 22:00</li>
                <li><b>Телефоны:</b> +79788328885, +79788318999</li>
                <li><b>Адрес:</b> пос. Нижнегорский, ул. Победы 38. 2й этаж старого дома быта, возле рынка</li>
            </ul>
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A62221c38a606ad870f2cabc9fd476c8ae1a532993915b73553693f7fb5c7de68&amp;width=100%25&amp;height=654&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>
    </div>

    <div class="page-header">
        <h3 class="page-header">Тарифы на дополнительные услуги</h3>

        <!--Скачать <a href="/static/clientside/ISPlaylist.m3u">IPTV список каналов</a>, кодировка UTF-8</p>-->

        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Услуга</th>
                <th>Стоимость (руб)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Выезд мастера. Цена зависит от удалённости от Нижнегорска</td>
                <td>100-200</td>
            </tr>
            <tr>
                <td>Настройка роутера</td>
                <td>300</td>
            </tr>
            <tr>
                <td>Установка и восстановление сетевых настроек</td>
                <td>100</td>
            </tr>
            <tr>
                <td>Замена кабеля (витая пара)</td>
                <td>30 руб/метр</td>
            </tr>
            <tr>
                <td>Замена конектора <a href="/static/clientside/rj45.png" target="_blank">RJ-45</a></td>
                <td>50</td>
            </tr>
            <tr>
                <td>Роутер <a href="/static/clientside/TL-WR840N-v2.jpg" target="_blank">TL-WR840N</a> + настройка</td>
                <td>1800</td>
            </tr>
            <tr>
                <td>Установка драйвера (с настройкой сетевых установок)</td>
                <td>100</td>
            </tr>
            <tr>
                <td>"Что-то не работает" &#8211; по договорённости</td>
                <td>~</td>
            </tr>
            <tr>
                <td>Замена блока питания</td>
                <td>200</td>
            </tr>
            <tr>
                <td>Замена оптоволоконных линий связи</td>
                <td>от 500</td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}
