{% load i18n %}
<form action="{% url 'client_side:buy_service' service.pk %}" method="post">{% csrf_token %}
    <div class="modal-header primary">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><span class="glyphicon glyphicon-shopping-cart"></span>{% trans 'Pick service' %}</h4>
    </div>
    <div class="modal-body">
        <h3>{% trans 'Are you sure you want to order the service?' %}</h3>
        <p>{% trans 'Be careful, after purchasing the service you will <b>withdraw money</b>, and you will be able to use the purchased service.' %}</p>

        <h3>{{ service.title }}</h3>

        <p>{{ service.descr }}</p>

        <!--<p>{% blocktrans with speedIn=service.speedIn speedOut=service.speedOut amount=service.amount %}Inbound speed: {{ speedIn }} MBit/s<br>
Outgoing speed: {{ speedOut }} MBit/s<br>
Cost: {{ amount }} rubles.{% endblocktrans %}</p>-->
        <p>{% blocktrans with amount=service.amount|floatformat:2 %}The cost is {{ amount }}{% endblocktrans %} {% trans 'currency' %}</p>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-sm btn-primary">
            <span class="glyphicon glyphicon-shopping-cart"></span> {% trans 'Pick' %}
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
    </div>
</form>
