<form action="{% url 'client_side:activate_service' abtar.pk %}" method="post">{% csrf_token %}
    <div class="modal-header primary">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><span class="glyphicon glyphicon-question-sign"></span>Активировать услугу</h4>
    </div>
    <div class="modal-body">
        <h3>Вы уверены что хотите активировать услугу?</h3>
        <input type="hidden" name="finish_confirm" value="yes">
        <h3>{{ service.title }}</h3>

        <p>{{ service.descr }}</p>

        <p>Входящая скорость: {{ service.speedIn }} MBit/s<br>
            Исходящая скорость: {{ service.speedOut }} MBit/s</p>

        <p>Вы уверены что хотите активировать эту услугу?<br>
            Обратите внимание что с вашего счёта <b>снимутся деньги</b> и откроется доступ к ресурсам оплаченной
            услуги.<br>
            Стоимость услуги: {{ amount }}руб. На счету {{ abon.ballance }} руб, останется {{ diff }} руб.</p>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-sm btn-success">
            <span class="glyphicon glyphicon-shopping-cart"></span> Активировать
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
    </div>
</form>
