{% load i18n %}
<form action="{% url 'client_side:buy_service' service.pk %}" method="post">{% csrf_token %}
    <div class="modal-header primary">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><span class="glyphicon glyphicon-shopping-cart"></span>{% trans 'Pick service' %}</h4>
    </div>
    <div class="modal-body">
        <h3>{% trans 'Are you sure you want to order the service?' %}</h3>
        <p>Будте внимательны, после заказа услуги с вашего счёта <b>снимутся средства</b>, и вы сможете пользоваться купленной услугой.</p>

        <h3>{{ service.title }}</h3>

        <p>{{ service.descr }}</p>

	<!--<p>{# {% blocktrans trimmed with speedIn=service.speedIn speedOut=service.speedOut amount=service.amount %}
		Inbound speed: {{ speedIn }} MBit/s<br>
Outgoing speed: {{ speedOut }} MBit/s<br>
Cost: {{ amount }} rubles.{% endblocktrans %} #}</p>-->
        <p>Стоимость {{ service.amount }} руб.</p>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-sm btn-primary">
            <span class="glyphicon glyphicon-shopping-cart"></span> {% trans 'Pick' %}
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
    </div>
</form>
