{% load i18n %}
<form action="{% url 'client_side:unsubscribe_service' abtar.pk %}" method="post">{% csrf_token %}
    <div class="modal-header primary">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><span class="glyphicon glyphicon-question-sign"></span>{% trans 'Unsubscribe from service' %}</h4>
    </div>
    <div class="modal-body">
        <h3>{% trans 'Are you sure you want to unsubscribe from the service?' %}</h3>
        <input type="hidden" name="finish_confirm" value="yes">
        <h3>{{ service.title }}</h3>

        <p>{{ service.descr }}</p>

        <p>{% blocktrans %}Inbound speed: {{ service.speedIn }} MBit/s<br>Outgoing speed: {{ service.speedOut }} MBit/s{% endblocktrans %}</p>

        <p>{% blocktrans %}When you unsubscribe from the service, it just will remove it from the queue inclusions your services.<br>
Your funds will not be affected, the money will not go away.{% endblocktrans %}</p>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-sm btn-primary">
            <span class="glyphicon glyphicon-alert"></span> {% trans 'Unsubscribe' %}
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
    </div>
</form>
