<form action="{% url 'client_side:complete_service' abtar.pk %}" method="post">{% csrf_token %}
    <div class="modal-header primary">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><span class="glyphicon glyphicon-question-sign"></span>Завершить услугу</h4>
    </div>
    <div class="modal-body">
        <h3>Вы уверены что хотите завершить услугу?</h3>
        <input type="hidden" name="finish_confirm" value="yes">
        <h3>{{ service.title }}</h3>

        <p>{{ service.descr }}</p>

        <p>Входящая скорость: {{ service.speedIn }} MBit/s<br>
            Исходящая скорость: {{ service.speedOut }} MBit/s</p>

        <p>Завершение услуги приведёт к прекращению действия услуги. Т.е. интернет отключится.<br>
            Деньги за неиспользованные ресурсы возвращены не будут.<br>
            Для возобновления обслуживания вы должны купить новую услугу.</p>

        Услуга была подключена: {{ abtar.time_start|date:'d F Y, H:i:s' }}<br/>
            Сегодня: {% now "d F Y, H:i:s" %}<br/>
            Время использования: {{ time_use }}<br/>
            Полная стоимость услуги: {{ service.amount }}<br/>
            <b>Итоговая стоимость: {{ abtar.calc_amount_service }}</b>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-sm btn-danger">
            <span class="glyphicon glyphicon-alert"></span> Завершить
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
    </div>
</form>
