{% extends 'clientsideapp/ext.html' %}
{% load i18n %}
{% block client_main %}

    <div class="page-header">

        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    {% if current_service %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Ваша текущая услуга
                        </div>
                        <div class="panel-body">
                            <h3 class="panel-title">{{ current_service.tariff.title }}</h3><br>
                            <dl class="dl-horizontal">
                                <dt>Дата подключения</dt>
                                <dd>{{ current_service.time_start|date:"d E Y, l" }}</dd>

                                <dt>Время завершения услуги</dt>
                                <dd>{{ current_service.deadline|date:"d E Y, l" }}</dd>

                                <dt>Стоимость</dt>
                                <dd>{{ current_service.tariff.amount }} {% trans 'currency' %}</dd>
                            </dl>
                            <p>{{ current_service.tariff.descr }}</p>
                        </div>
                    </div>


                    {% else %}
                    <div class="alert alert-warning" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                        <strong>Внимание!</strong> У вас нет услуги, для использования ресурсов приобретите нужную услугу из представленных тут.
                        </div>
                    {% endif %}
                </div>
                <div class="col-lg-5">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Доступные для заказа услуги
                        </div>
                        <div class="panel-body">
                            <div class="container-fluid">
                                <div class="row">
                                    {% for tarif in tarifs %}
                                        <div class="col-lg-12">
                                            <h3>{{ tarif.title }}</h3>

                                            <i>{{ tarif.amount }} руб.</i>
                                            <p>{{ tarif.descr }}</p>

                                            {% if request.user.is_staff or current_service %}
                                                <a href="#" class="btn btn-primary disabled">
                                            {% else %}
                                                <a href="{% url 'client_side:buy_service' tarif.id %}" class="btn btn-primary btn-modal">
                                            {% endif %}
                                                    <span class="glyphicon glyphicon-shopping-cart"></span> {% trans 'Pick' %}
                                                </a>
                                        </div>
                                    {% empty %}
                                        <div class="col-lg-4">
                                            <h3 class="panel-title">Нет доступных услуг для заказа</h3>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'clientsideapp/services_ext.txt' %}
        </div>
    </div>




    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-info-sign"></span>
                    Как работает личный кабинет, раздел услуг
                </div>
                <div class="panel-body">
                    <p>Перед вами находится 2 столбца, в левом ваша текущая подключённая услуга, а в правом доступные для заказа услуги.
                       Когда у вас уже есть подключённая услуга то заказать новую вы не можете пока не завершится текущая.</p>
                    <p>Когда у вас нет действующей подключённой услуги то кнопка заказа станет активной, и вы сможете заказать для себя услугу.
                        Обратите внимание что именно в этот момент с вашего счёта снимутся деньги в соответствии со стоимостью услуги.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
