{% extends request.is_ajax|yesno:'nullcont.htm,devapp/ext.htm' %}
{% load i18n %}
{% block content %}

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">{{ dev.get_devtype_display|default:_('Title of the type of switch') }}.
                        {% if uptime %}
                            {% trans 'Uptime' %} {{ uptime }}
                        {% endif %}
                    </div>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">{% trans 'Ip address' %}: {{ dev.ip_address }}</li>
                        <li class="list-group-item">{% trans 'Mac' %}: {{ dev.mac_addr }}</li>
                        <li class="list-group-item">{% trans 'Description' %} {{ dev.comment }}</li>
                        {% for da in dev_accs %}
                            <li class="list-group-item">{% trans 'Attached user' %}:
                                {% if da.group %}
                                    <a href="{% url 'abonapp:abon_home' da.group.pk da.pk %}"
                                       target="_blank">{{ da.get_full_name }}</a>
                                {% else %}
                                    {{ da.get_full_name }}
                                {% endif %}
                            </li>
                        {% endfor %}
                        {% if dev.parent_dev %}
                            <li class="list-group-item">
                                {% with pdev=dev.parent_dev pdgrp=dev.parent_dev.user_group %}
                                    {% trans 'Parent device' %}:<a href="{% url 'devapp:view' pdgrp.pk pdev.pk %}"
                                                                   title="{{ pdev.mac_addr|default:'' }}"
                                                                   target="_blank">{{ pdev.ip_address }} {{ pdev.comment }}</a>
                                {% endwith %}
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
