{% extends request.is_ajax|yesno:'nullcont.htm,devapp/ext.htm' %}
{% load i18n %}
{% block content %}

{% with uptime=dev_manager.uptime onu_details=dev_manager.get_details %}
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">{{ dev.get_devtype_display|default:_('Title of the type of switch') }}.
                        {% if uptime %}
                            {% trans 'Uptime' %} {{ uptime }}
                        {% endif %}
                    </div>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">{% trans 'Ip address' %}: {{ dev.ip_address|default:'-' }}</li>
                        <li class="list-group-item">{% trans 'Mac' %}: {{ dev.mac_addr }}</li>
                        <li class="list-group-item">{% trans 'Description' %}: {{ dev.comment }}</li>
                        <li class="list-group-item">{% trans 'Fiber' %}: {{ dev_manager.get_fiber_str }}</li>
                        {% for da in dev_accs %}
                            <li class="list-group-item">{% trans 'Attached user' %}:
                                {% if da.group %}
                                    <a href="{% url 'abonapp:abon_home' da.group.pk da.username %}">{{ da.get_full_name }}</a>
                                {% else %}
                                    {{ da.get_full_name }}
                                {% endif %}
                            </li>
                        {% endfor %}
                        {% if dev.parent_dev %}
                            <li class="list-group-item">
                                {% with pdev=dev.parent_dev pdgrp=dev.parent_dev.group %}
                                    {% trans 'Parent device' %}:
                                    <a href="{% url 'devapp:view' pdgrp.pk pdev.pk %}" title="{{ pdev.mac_addr|default:'' }}">
                                        {{ pdev.ip_address|default:'-' }} {{ pdev.comment }}
                                    </a>
                                {% endwith %}
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans 'ONU Status' %}</h3>
                </div>

                <div class="panel-body">
                    {% if onu_details %}
                        {% if onu_details.err %}
                            <div class="media">
                                <div class="media-left"><span class="media-object glyphicon glyphicon-remove-sign text-danger font-extra-large"></span></div>
                            </div>
                            <div class="media-body">
                                <b>{% trans 'ONU error' %}</b>: {{ onu_details.err }}<br>
                            </div>
                        {% else %}
                            <div class="media">
                                <div class="media-left font-extra-large">
                                    {% if onu_details.status == '1' %}
                                        <span class="media-object glyphicon glyphicon-ok-sign text-success"></span>
                                    {% elif onu_details.status == '2' %}
                                        <span class="media-object glyphicon glyphicon-remove-sign text-danger"></span>
                                    {% else %}
                                        <span class="media-object glyphicon glyphicon-question-sign"></span>
                                    {% endif %}
                                </div>
                                <div class="media-body">

                                    <b>{% trans 'Distance(m)' %}</b>: {{ onu_details.distance|default:'-' }}<br>
                                    <b>{% trans 'Signal' %}</b>: {{ onu_details.signal }}<br>
                                    {% if onu_details.ip_addr %}
                                        <b>{% trans 'Ip addr' %}</b>: {{ onu_details.ip_addr }}<br>
                                    {% endif %}
                                    {% if onu_details.vlans %}
                                        <b>{% trans 'VLan list' %}</b>: {{ onu_details.vlans }}<br>
                                    {% endif %}
                                    <b>{% trans 'Serial' %}</b>: {{ onu_details.serial|default:'-' }}<br>
                                    <b>{% trans 'Onu type' %}</b>: {{ onu_details.onu_type|default:'-' }}<br>
                                    <b>{% trans 'Name' %}</b>: {{ onu_details.int_name|default:'-' }}

                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                    <h3>{% trans 'Info does not fetch' %}</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endwith %}
{% endblock %}
