{% extends request.is_ajax|yesno:'bajax.html,base.html' %}
{% block main %}

    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home"></span></li>
        <li><a href="{% url 'abonapp:group_list' %}">Группы абонентов</a></li>
        <li><a href="{% url 'abonapp:people_list' abon_group.id %}">{{ abon_group.title }}</a></li>
        <li class="active">Добавить абонента</li>
    </ol>

    {% include 'message_block.html' %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Добавьте аккаунт абонента</h3>
        </div>
        <div class="panel-body">
            <form role="form" action="{% url 'abonapp:add_abon' abon_group.id %}" method="post">{% csrf_token %}
                <div class="form-group">
                    <label for="login">Логин абонента</label>

                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        {{ form.username }}{{ form.username.errors }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="fio">Фамилия Имя</label>

                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-bookmark"></span></span>
                        {{ form.fio }}{{ form.fio.errors }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="telephone">Телефон</label>

                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
                        {{ form.telephone }}{{ form.telephone.errors }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="grp">Группа абонентов</label>

                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-grain"></span></span>
                        {{ form.group }}{{ form.group.errors }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_description">Комментарий</label>

                    <span class="input-group-addon"><span class="glyphicon glyphicon-comment"></span></span>
                    {{ form.description }}{{ form.description.errors }}
                </div>
                <div class="form-group">
                    <label for="id_street">Улица</label>

                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-road"></span></span>
                        {{ form.street }}{{ form.street.errors }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_house">Дом/Квартира</label>

                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
                        {{ form.house }}{{ form.house.errors }}
                    </div>
                </div>

                <div class="btn-group">
                    <button type="submit" class="btn btn-sm btn-primary">
                        <span class="glyphicon glyphicon-save"></span> Сохранить
                    </button>
                    <button type="reset" class="btn btn-sm btn-default">
                        <span class="glyphicon glyphicon-remove-circle"></span> Сбросить
                    </button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}