{% extends 'base.html' %}
{% block main %}


    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home"></span></li>
        <li><a href="{% url 'abonapp:group_list' %}">Группы абонентов</a></li>
        <li class="active">Добавить группу</li>
    </ol>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Добавьте группу абонентов</h3>
        </div>
        <div class="panel-body">
            {% if warntext %}
                <div class="alert-danger">{{ warntext }}</div>
            {% endif %}
            <form role="form" action="{% url 'abonapp:add_group' %}" method="post">{% csrf_token %}
                <div class="form-group">
                    <label for="gtitle">Название группы</label>

                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-bookmark"></span></span>
                        <input id="gtitle" type="text" name="title" placeholder="Название" required class="form-control">{{ form.title.errors }}
                    </div>
                </div>
                <div class="btn-group">
                    <button type="submit" class="btn btn-sm btn-primary">
                        <span class="glyphicon glyphicon-save"></span> Сохранить
                    </button>
                    <button type="reset" class="btn btn-sm btn-default">
                        <span class="glyphicon glyphicon-remove-circle"></span> Сбросить
                    </button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}