{% extends request.is_ajax|yesno:'bajax.html,base.html' %}
{% block main %}


    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home"></span></li>
        <li><a href="{% url 'abonapp:group_list' %}">Группы абонентов</a></li>
        <li><a href="{% url 'abonapp:people_list' abon_group.id %}">{{ abon_group.title }}</a></li>
        <li><a href="{% url 'abonapp:abon_home' abon_group.id abon.id %}">{{ abon.fio }}</a></li>
        <li class="active">Заказать услугу</li>
    </ol>



    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Купить новую услугу (заказать тариф) для <a
                    href="{% url 'abonapp:abon_home' abon_group.id abon.id %}" title="На страницу абонента">абонента</a>
            </h3>
        </div>
        <div class="panel-body">
            {% if warntext %}
                <div class="alert alert-danger alert-dismissable">
                    <button class="close" type="button" aria-hidden="true" data-dismiss="alert">&times;</button>
                    <strong>Внимание!</strong> {{ warntext|safe }}
                </div>
            {% endif %}
            <form role="form" action="{% url 'abonapp:buy_tariff' abon_group.id abon.id %}"
                  method="post">{% csrf_token %}
                <div class="form-group">
                    <label for="tariff">Выбирите тарифф</label>

                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-bullhorn"></span></span>
                        {{ form.tariff }}{{ form.tariff.errors }}
                    </div>
                </div>
                <div class="btn-group">
                    <button type="submit" class="btn btn-sm btn-primary">
                        <span class="glyphicon glyphicon-save"></span> Сохранить
                    </button>
                    <button type="reset" class="btn btn-sm btn-default">
                        <span class="glyphicon glyphicon-remove-circle"></span> Сбросить
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}