{% extends request.is_ajax|yesno:'bajax.html,base.html' %}
{% block main %}


    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home"></span></li>
        <li><a href="{% url 'abonapp:group_list' %}">Группы абонентов</a></li>
        <li><a href="{% url 'abonapp:people_list' abon_group.id %}">{{ abon_group.title }}</a></li>
        <li><a href="{% url 'abonapp:abon_home' abon_group.id abon.id %}">{{ abon.fio }}</a></li>
        <li class="active">Завершить услугу</li>
    </ol>

    {% include 'message_block.html' %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Завершить услугу</h3>
        </div>
        <div class="panel-body">

            <form role="form" action="{% url 'abonapp:compl_srv' abon_group.id abon.id abtar.id %}" method="post">{% csrf_token %}
                <input name="finish_confirm" value="yes" type="hidden">

                <p>Досрочное завершение текущей услуги приведёт к тому что пользователю будет запрещён доступ к ресурсам
                    услуги (закроется инет)<br/>
                    Для продолжения пользования ресурсами надо подключить нужную услугу</p>

                <p>Подробнее:<br/>
                    Вы завершаете тариф

                    {% if perms.tariff_app.change_tariff %}
                        <a href="{% url 'tarifs:edit' abtar.tariff.id %}" target="_blank">{{ abtar.tariff.title }}</a>.<br/>
                    {% else %}
                        {{ abtar.tariff.title }}.<br/>
                    {% endif %}

                    Услуга была подключена: {{ abtar.time_start|date:'d F Y, H:i:s' }}<br/>
                    Сегодня: {% now "d F Y, H:i:s" %}<br/>
                    Время использования: {{ time_use }}<br/>
                    Полная стоимость услуги: {{ abtar.tariff.amount }}<br/>
                    Итоговая стоимость: {{ abtar.calc_amount_service }}
                </p>


                <div class="btn-group">
                    <button type="submit" class="btn btn-sm btn-primary">
                        <span class="glyphicon glyphicon-save"></span> Сохранить
                    </button>
                    <button type="reset" class="btn btn-sm btn-default">
                        <span class="glyphicon glyphicon-remove-circle"></span> Сбросить
                    </button>
                </div>

            </form>

        </div>
    </div>

{% endblock %}