{% load i18n %}
<h4>{{ dot.title }}</h4>
<div class="list-group">
    {% for dev in devs %}
        <a class="list-group-item" href="{% url 'devapp:view' dev.group.pk dev.pk %}" target="_blank" title="{{ dev.mon.plugin_output }}">
            {% if dev.status == 'up' %}
                <span class="glyphicon glyphicon-ok-circle text-success"></span>
            {% elif dev.status == 'dwn' or dev.status == 'unr' %}
                <span class="glyphicon glyphicon-exclamation-sign text-danger"></span>
            {% endif %}
            <b>{{ dev.comment }}</b> {{ dev.mon.plugin_output }}
        </a>

    {% empty %}
        <a class="list-group-item">{% trans 'Pinned devices not found' %}</a>
    {% endfor %}

</div>

{% if dot.attachment %}
    <span class="glyphicon glyphicon-file"></span>
    <a href="{{ dot.attachment.url }}" class="btn btn-xs btn-default" target="_blank">{{ dot.attachment.name }}</a>
{% endif %}
