{% extends request.is_ajax|yesno:'bajax.html,base.html' %}
{% load i18n %}


{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home"></span></li>
        <li class="active">{% trans 'Last calls' %}</li>
    </ol>
{% endblock %}


{% block page-header %}
    {{ title }}
{% endblock %}


{% block main %}

    <ul class="nav nav-tabs">

        {% url 'dialapp:home' as dialhome %}
        <li{% if dialhome == request.path %} class="active"{% endif %}>
            <a href="{{ dialhome }}">
                {% trans 'Last calls' %}
            </a>
        </li>

        {% url 'dialapp:vmail_request' as dialmail %}
        <li{% if dialmail == request.path %} class="active"{% endif %}>
            <a href="{{ dialmail }}">
                {% trans 'Voice mail request' %}
            </a>
        </li>

	    {% url 'dialapp:vmail_report' as dialmail %}
        <li{% if dialmail == request.path %} class="active"{% endif %}>
            <a href="{{ dialmail }}">
                {% trans 'Voice mail report' %}
            </a>
        </li>

        {% url 'dialapp:inbox_sms' as dialsmsin %}
        <li{% if dialsmsin == request.path %} class="active"{% endif %}>
            <a href="{{ dialsmsin }}">
                {% trans 'Inbox sms' %}
            </a>
        </li>

    </ul>

    <div class="tab-content">
        <div class="tab-pane active">
            {% block content %}{% endblock %}
        </div>
    </div>

{% endblock %}
