{% extends 'base.html' %}
{% load i18n %}
{% block main %}


    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home"></span></li>
        <li class="active">{% trans 'Dialing' %}</li>
    </ol>

    <h3>{% trans 'Last calls' %}</h3>

    {% include 'message_block.html' %}

    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>{% trans 'calldate' %}</th>
                <th>{% trans 'src' %}</th>
                <th>{% trans 'dst' %}</th>
                <th>{% trans 'dcontext' %}</th>
                <th>{% trans 'channel' %}</th>
                <th>{% trans 'dstchannel' %}</th>
                <th>{% trans 'lastdata' %}</th>
                <th>{% trans 'duration' %}</th>
                <th>{% trans 'billsec' %}</th>
                <th>{% trans 'start' %}</th>
                <th>{% trans 'answer' %}</th>
                <th>{% trans 'end' %}</th>
                <th>{% trans 'disposition' %}</th>
                <th>{% trans 'amaflags' %}</th>
                <th>{% trans 'uniqueid' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for log in logs %}
                <tr>
                    <td>{{ log.calldate|date:'d E Y, H:i:s' }}</td>
                    <td>{{ log.src }}</td>
                    <td>{{ log.dst }}</td>
                    <td>{{ log.dcontext }}</td>
                    <td>{{ log.channel }}</td>
                    <td>{{ log.dstchannel }}</td>
                    <td>{{ log.lastdata }}</td>
                    <td>{{ log.duration }}</td>
                    <td>{{ log.billsec }}</td>
                    <td>{{ log.start|date:'d E Y, H:i:s' }}</td>
                    <td>{{ log.answer|date:'d E Y, H:i:s' }}</td>
                    <td>{{ log.end|date:'d E Y, H:i:s' }}</td>
                    <td>{{ log.disposition }}</td>
                    <td>{{ log.amaflags }}</td>
                    <td>{{ log.uniqueid }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="15">{% trans 'Calls was not found' %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% include 'toolbar_page.html' with pag=logs %}

{% endblock %}
