{% load i18n %}{% load bootstrap3 %}
<form action="{% url 'dialapp:send_sms' %}?path={{ path|default:'' }}" method="post"> {% csrf_token %}
    <div class="modal-header primary">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><span class="glyphicon glyphicon-envelope"></span>{% trans 'Send sms' %}</h4>
    </div>

    {% include '_messages.html' %}

    <div class="modal-body">

        {% bootstrap_icon 'earphone' as ic %}
        {% bootstrap_field form.dst label_class='col-sm-2' field_class='col-sm-10' addon_before=ic %}

        {% bootstrap_icon 'pencil' as ic %}
        {% bootstrap_field form.text label_class='col-sm-2' field_class='col-sm-10' addon_before=ic %}

        <button type="submit" class="btn btn-sm btn-success">
            <span class="glyphicon glyphicon-send"></span> {% trans 'Send' %}
        </button>
    </div>

</form>
