{% extends 'base.html' %}
{% block main %}


    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home"></span></li>
        <li class="active">IP Пул</li>
    </ol>

    {% include 'message_block.html' %}

    <h3>Пулы ip адресов</h3>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Начальный IP</th>
                <th>Конечный IP</th>
                <th>Количество</th>
                <th width="50">Ред.</th>
                <th width="50">Уд.</th>
            </tr>
            </thead>
            <tbody>
            {% for pl in pools %}
                <tr>
                    <td>{{ pl.0 }}</td>
                    <td>{{ pl.1 }}</td>
                    <td>{{ pl.2 }}</td>
                    <td colspan="2" class="btn-group btn-group-sm btn-group-justified">

                        <a href="{% url 'ip_pool:ips' %}?ips={{ pl.0 }}&ipe={{ pl.1 }}"
                           class="btn btn-primary">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>

                        {% if perms.ip_pool.delete_ippoolitem %}
                            <a href="{% url 'ip_pool:ips_del' %}?ips={{ pl.0 }}&ipe={{ pl.1 }}" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </a>
                        {% endif %}

                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">Нет ни одного пула зарезервированных ip адресов.
                        {% if perms.ip_pool.add_ippoolitem %}
                            <a href="{% url 'ip_pool:add' %}">Создать</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>

            {% if perms.ip_pool.add_ippoolitem %}
            <tfoot>
            <tr>
                <td colspan="5">
                    <a href="{% url 'ip_pool:add' %}" class="btn btn-sm btn-success">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </td>
            </tr>
            </tfoot>
            {% endif %}

        </table>
    </div>

    {% include 'toolbar_page.html' with pag=pools %}

{% endblock %}