{% extends 'base.html' %}
{% load i18n %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home"></span></li>
        <li><a href="{% url 'ip_pool:networks' %}">{% trans 'Ip pool' %}</a></li>
        <li><a href="{% url 'ip_pool:net_edit' net.id %}">{{ net }}</a></li>
        <li class="active">{% trans 'Ip leases list' %}</li>
    </ol>
{% endblock %}

{% block page-header %}
    {% trans 'Ip leases list' %}
{% endblock %}

{% block main %}
    <div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th class="col-sm-5">{% trans 'Ip' %}</th>
            <th class="col-sm-3">{% trans 'Lease time' %}</th>
            <th class="col-sm-3">{% trans 'Network' %}</th>
            <th class="col-sm-1">{% trans 'Is dynamic' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for ip in object_list %}
            <tr>
                <td>{{ ip.ip }}</td>
                <td>{{ ip.lease_time|date:'j:n H:i:s' }}</td>
                <td>{{ ip.get_network }}</td>
                <td><input type="checkbox" {{ ip.is_dynamic|yesno:'checked,' }}></td>
            </tr>
        {% empty %}
            <tr>
            <td colspan="4">{% trans 'You have not any available dedicated ips in this network' %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
