{% extends 'base.html' %}
{% load i18n %}
{% block main %}

    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home"></span></li>
        <li><a href="{% url 'acc_app:accounts_list' %}">{% trans 'Administrators' %}</a></li>
        <li class="active">{% trans 'Groups' %}</li>
    </ol>

    <h3>{% trans 'Admin groups list' %}</h3>

    {% include 'message_block.html' %}

    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th width="50">#</th>
                <th>{% trans 'Group' %}</th>
                <th class="col-sm-1">&mdash;</th>
            </tr>
            </thead>
            <tbody>
            {% for grp in groups %}
                <tr>
                    <td>{{ grp.id }}</td>
                    <td><a href="{% url 'acc_app:group_link' grp.id %}">{{ grp.name }}</a></td>
                    <td class="btn-group">
                        <a href="#" class="btn btn-sm btn-info">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a href="#" class="btn btn-sm btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3"><a href="#">{% trans 'Groups does not found' %}</a></td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3">
                    <a href="#" class="btn btn-primary btn-sm disabled" title="{% trans 'Add group' %}">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>

    {% include 'toolbar_page.html' with pag=groups %}

{% endblock %}