{% extends request.is_ajax|yesno:'nullcont.htm,accounts/ext.htm' %}
{% load i18n %}
{% block content %}

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <tbody>
        <tr>
            <td class="col-sm-4">{% trans 'Telephone' %}</td>
            <td><a href="tel:{{ userprofile.telephone }}">{{ userprofile.telephone }}</a></td>
        </tr>
        <tr>
            <td>{% trans 'User name' %}</td>
            <td>{{ userprofile.username }}</td>
        </tr>
        <tr>
            <td>{% trans 'Name and surname' %}</td>
            <td>{{ userprofile.fio }}</td>
        </tr>
        <tr>
            <td>{% trans 'Is enable' %}</td>
            <td><input type="checkbox" {{ userprofile.is_active|yesno:' checked,' }}></td>
        </tr>
        <tr>
            <td>{% trans 'Last login' %}</td>
            <td>{{ userprofile.last_login|date:"l d E Y H:i" }}</td>
        </tr>
        {% if request.user.is_superuser %}
            <tr>
                <td>{% trans 'All permissions' %}</td>
                <td><input type="checkbox"{{ userprofile.is_staff|yesno:' checked,' }}></td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}
