{% extends request.is_ajax|yesno:'nullcont.htm,accounts/ext.htm' %}
{% load i18n %}
{% block content %}

<div class="table">
    <table class="table-striped table-bordered">
        <tbody>
        <tr>
            <td class="col-sm-2">{% trans 'Telephone' %}</td>
            <td class="col-sm-10"><a href="tel:{{ userprofile.telephone }}">{{ userprofile.telephone }}</a></td>
        </tr>
        <tr>
            <td class="col-sm-2">{% trans 'User name' %}</td>
            <td class="col-sm-10">{{ userprofile.username }}</td>
        </tr>
        <tr>
            <td class="col-sm-2">{% trans 'Name and surname' %}</td>
            <td class="col-sm-10">{{ userprofile.fio }}</td>
        </tr>
        <tr>
            <td class="col-sm-2">{% trans 'Is enable' %}</td>
            <td class="col-sm-10"><input type="checkbox" {{ userprofile.is_active|yesno:' checked,' }}></td>
        </tr>
        <tr>
            <td class="col-sm-2">{% trans 'Last login' %}</td>
            <td class="col-sm-10">{{ userprofile.last_login|date:"l d E Y H:i" }}</td>
        </tr>
        {% if request.user.is_superuser %}
            <tr>
                <td class="col-sm-2">{% trans 'Is superuser' %}</td>
                <td class="col-sm-10"><input type="checkbox"{{ userprofile.is_superuser|yesno:' checked,' }}></td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}
