<!DOCTYPE html>{% load i18n %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <title>{% trans 'Auth' %}</title>
    <meta name="robots" content="noindex">
    <link rel="shortcut icon" href="/static/img/favicon_m.ico">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <style>
        body{
            background-color: #ececec;
        }
        .form-signin {
            width: 478px;
            margin: 10% auto;
            position: relative;
        }
	footer{
            position: absolute;
            bottom: 0;
	}
    </style>
</head>
<body>
    <div class="panel panel-default form-signin">
        <div class="panel-heading">
            <h3 class="panel-title">{% trans 'Login' %}</h3>
        </div>
        <div class="panel-body">
            <form role="form" action="{% url 'acc_app:login' %}{% if next %}?next={{ next }}{% endif %}" method="POST">{% csrf_token %}
                {% if errmsg %}
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ errmsg }}
                    </div>
                {% endif %}

                <div class="form-group">
                    <label for="inp_uname">{% trans 'User name' %}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        <input type="text" id="inp_uname" placeholder="username" name="login" autofocus required class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inp_pass">{% trans 'Password' %}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        <input type="password" id="inp_pass" name="password" class="form-control">
                    </div>
                </div>

                <div class="btn-group">
                    <button type="submit" class="btn btn-sm btn-primary">
                        <span class="glyphicon glyphicon-log-in"></span> {% trans 'Login' %}
                    </button>
                    <button type="reset" class="btn btn-sm btn-default">
                        <span class="glyphicon glyphicon-remove-sign"></span> {% trans 'Reset' %}
                    </button>
                </div>

            </form>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted">
                {% include 'custom_pages/footer.htm' %}
            </p>
        </div>
    </footer>

</body>
</html>
