{% extends request.is_ajax|yesno:'nullcont.htm,accounts/ext.htm' %}
{% load i18n %}
{% block content %}

    <legend>{% trans 'The responsibility of the staff of the group of subscribers' %}</legend>
    <form action="{% url 'acc_app:profile_setup_group' userprofile.id %}" method="post" role="form">{% csrf_token %}
        {% for ag in abongroups %}
            <div class="checkbox">
                <label>
                    {% if userprofile in ag.profiles.all %}
                        <input name="ag" type="checkbox" value="{{ ag.pk }}" checked/>
                    {% else %}
                        <input name="ag" type="checkbox" value="{{ ag.pk }}"/>
                    {% endif %}
                    {{ ag.title }}
                </label>
            </div>
        {% endfor %}
        <div class="btn-group">
            <input type="submit" class="btn btn-primary" value="{% trans 'Save' %}"> <input type="reset" class="btn btn-default" value="{% trans 'Reset' %}">
        </div>
    </form>

{% endblock %}
