{% extends request.is_ajax|yesno:'nullcont.htm,accounts/settings/ext.htm' %}
{% load globaltags i18n bootstrap3 %}
{% block content %}

    <form role="form" action="{% url 'acc_app:setup_info' %}" method="post">{% csrf_token %}

        {% bootstrap_form form %}

        <div class="btn-group">
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span> {% trans 'Save' %}
            </button>
            <button type="reset" class="btn btn-default">
                <span class="glyphicon glyphicon-remove"></span> {% trans 'Reset' %}
            </button>
        </div>

    </form>

{% endblock %}