{% extends request.is_ajax|yesno:'bajax.html,base.html' %}
{% load i18n %}
{% block main %}

    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home"></span></li>
        <li><a href="{% url 'tarifs:home' %}">{% trans 'Tarifs' %}</a></li>
        <li class="active">
            {% if tarif_id == 0 %}
                {% trans 'Add' %}
            {% else %}
                {% trans 'Edit' %}
            {% endif %}
        </li>
    </ol>

    {% include 'message_block.html' %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{% if tarif_id == 0 %}{% trans 'Create' %}{% else %}{% trans 'Edit' %}{% endif %} {% trans 'tariff' %}</h3>
        </div>
        <div class="panel-body">
            <form role="form" action="{% url 'tarifs:edit' tarif_id %}" method="post">{% csrf_token %}

                <div class="form-group">
                    <label for="id_title">{% trans 'Service title' %}</label>

                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-tag"></span></span>
                        {{ form.title }}{{ form.title.errors }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="id_descr">{% trans 'Service description' %}</label>

                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-comment"></span></span>
                        {{ form.descr }}{{ form.descr.errors }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="id_speedIn">{% trans 'Speed In' %}</label>

                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-chevron-down"></span></span>
                        {{ form.speedIn }}{{ form.speedIn.errors }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="id_speedOut">{% trans 'Speed Out' %}</label>

                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-chevron-up"></span></span>
                        {{ form.speedOut }}{{ form.speedOut.errors }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="id_amount">{% trans 'Price' %}</label>

                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
                        {{ form.amount }}{{ form.amount.errors }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="id_calc_type">{% trans 'Script' %}</label>

                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-link"></span></span>
                        {{ form.calc_type }}{{ form.calc_type.errors }}
                    </div>
                </div>

                <div class="checkbox">
                    <label>{{ form.is_admin }} {% trans 'Tech service' %}</label>
                </div>

                <div class="btn-group">
                    <button type="submit" class="btn btn-sm btn-primary">
                        <span class="glyphicon glyphicon-save"></span> {% trans 'Save' %}
                    </button>
                    <button type="reset" class="btn btn-sm btn-default">
                        <span class="glyphicon glyphicon-remove-circle"></span> {% trans 'Reset' %}
                    </button>
                </div>

            </form>
        </div>
    </div>

{% endblock %}
