{% extends request.is_ajax|yesno:'bajax.html,base.html' %}
{% load i18n %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home"></span></li>
        <li class="active">{% trans 'Services' %}</li>
    </ol>
{% endblock %}

{% block page-header %}
    {% trans 'Services' %}
{% endblock %}

{% block main %}
    <ul class="nav nav-tabs">

        {% url 'tarifs:home' as tarhome %}
        <li{% if tarhome == request.path %} class="active"{% endif %}>
            <a href="{{ tarhome }}">
                {% trans 'Services' %}
            </a>
        </li>

        {% url 'tarifs:periodic_pays' as perlist %}
        <li{% if perlist == request.path %} class="active"{% endif %}>
            <a href="{{ perlist }}">
                {% trans 'Periodic pays' %}
            </a>
        </li>

    </ul>

    <div class="tab-content">
        <div class="tab-pane active">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}
