{% load i18n bootstrap3 %}
<form role="form" action="{% url 'new_customers:new_user' %}" method="post">{% csrf_token %}
    <div class="modal-header primary">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><span class="glyphicon glyphicon-question-sign"></span>{% trans 'Create potential client' %}</h4>
    </div>

    <div class="modal-body">
        {% bootstrap_form form %}

        <div class="btn-group">
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span> {% trans 'Add' %}
            </button>
        </div>
    </div>
</form>
