<!DOCTYPE html>{% load i18n globaltags %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <title>{% global_var 'COMPANY_NAME' %} - {% trans 'Admin side' %}</title>
    <meta charset="UTF-8">
    <!--[if lt IE 9]><meta http-equiv="refresh" content="0;URL=/static/bad_ie.html" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/all.min.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <script src="/static/js/all.min.js"></script>
    {% block additional_link %}{% endblock %}
    <script src="/static/js/my.js"></script>
    <link rel="shortcut icon" href="/static/img/favicon_m.ico">
    <meta name="author" content="Dmitry Novikov">
    <meta name="contact" content="nerosketch@gmail.com">
</head>
<body>

<div id="loading">
    <div class="gif">
        <img src="/static/img/loading.gif"/>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modFrm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="modContent"></div>
    </div>
</div>

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hidden-xs" href="{% url 'acc_app:other_profile' request.user.id %}">{% global_var 'COMPANY_NAME' %}</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                {% url 'acc_app:other_profile' request.user.id as home_url %}
                <li{% if home_url == request.path %} class="active"{% endif %}><a href="{{ home_url }}">{% trans 'Main page' %}</a></li>

                {% if request.user.is_superuser %}
                    {% url 'mapapp:home' as map_url %}
                    <li{% if map_url == request.path %} class="active"{% endif %}><a href="{{ map_url }}" target="_blank">{% trans 'Map page' %}</a></li>
                {% endif %}

                {% comment %} <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Language' %} <b class="caret"></b></a>
                    <ul class="dropdown-menu">

                        {% url 'set_language' as set_language_url %}
                        {% for lang in LANGUAGES %}
                        <li><a href="#" id="langfrm_{{ lang.0 }}" onclick="document.setLang{{ lang.0 }}.submit();">{{ lang.1 }}</a></li>
                        <form name="setLang{{ lang.0}}" action="{{ set_language_url }}" method="POST" class="hidden">{% csrf_token %}
                            <input type="hidden" name="language" value="{{ lang.0 }}">
                        </form>
                        {% endfor %}

                    </ul>
                </li> {% endcomment %}

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Other' %} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'acc_app:profile' %}"><span class="glyphicon glyphicon-wrench"></span> {% trans 'Settings' %}</a></li>
                        <li><a href="{% url 'acc_app:logout' %}"><span class="glyphicon glyphicon-log-out"></span> {% trans 'Exit' %}</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-right" action="{% url 'searchapp:home' %}" method="get">
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control" placeholder="Search..." name="s">
                  <span class="input-group-addon">
                    <button type="submit"><span class="glyphicon glyphicon-search"></span></button>
                  </span>
                </div>
            </form>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<!-- END Fixed navbar -->


<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">

        {% block base_content %}{% endblock %}

    </div>
</div>

</body>
</html>
