{% extends 'all_base.html' %}
{% block base_content %}

    <!-- Left menu -->
    <div class="col-sm-2 sidebar sidebar-offcanvas" role="navigation">

        <div class="row profile_img">
            <div class="col-sm-5">

                <a href="{% url 'acc_app:profile' %}">
                    <img alt="авка" class="img-circle img-responsive" src="{{ user.get_min_ava }}"/>
                </a>

            </div>
            <div class="col-sm-7">
                <b>{{ user.username }}</b><br>
                <span>{{ user.fio }}</span>
                <a href="tel:{{ user.telephone }}">{{ user.telephone }}</a>
            </div>
        </div>

        <ul class="nav nav-sidebar">

            {% url 'acc_app:accounts_list' as accounts_list %}
            <li{% if accounts_list in request.path %} class="active"{% endif %}>
                <a href="{{ accounts_list }}">
                    <span class="glyphicon glyphicon-eye-open"></span> администраторы
                </a>
            </li>

            {% url 'abonapp:group_list' as abongroup_list_link %}
            <li{% if abongroup_list_link in request.path %} class="active"{% endif %}>
                <a href="{{ abongroup_list_link }}">
                    <span class="glyphicon glyphicon-user"></span> абоненты
                </a></li>

            {% url 'taskapp:home' as task_home %}
            <li{% if task_home in request.path %} class="active"{% endif %}>
                <a href="{{ task_home }}">
                    <span class="glyphicon glyphicon-tasks"></span> Задачи
                    {% if tasks_count > 0 %}<span class="badge">{{ tasks_count }}</span>{% endif %}
                </a></li>

            {% url 'tarifs:home' as tarifs_home %}
            <li{% if tarifs_home in request.path %} class="active"{% endif %}>
                <a href="{{ tarifs_home }}">
                    <span class="glyphicon glyphicon-usd"></span> тарифы
                </a></li>

            {% if request.user.is_superuser %}
                {% url 'mapapp:options' as mapapp_ops %}
                <li{% if mapapp_ops in request.path %} class="active"{% endif %}>
                    <a href="{{ mapapp_ops }}">
                        <span class="glyphicon glyphicon-map-marker"></span> Настройки карты
                    </a></li>
            {% endif %}

            {% url 'msg_app:home' as privmsg_home %}
            <li{% if privmsg_home in request.path %} class="active"{% endif %}>
                <a href="{{ privmsg_home }}">
                    <span class="glyphicon glyphicon-envelope"></span> Сообщения
                    {% if new_messages_count > 0 %}
                        <span class="badge">{{ new_messages_count }}</span>
                    {% endif %}
    		</a></li>

            {% if perms.dialing_app.change_asteriskcdr %}
            {% url 'dialapp:home' as dialhome %}
            <li{% if dialhome in request.path %} class="active"{% endif %}>
                <a href="{{ dialhome }}">
                    <span class="glyphicon glyphicon-phone-alt"></span> Телефония
                </a></li>
            {% endif %}

            {% url 'devapp:group_list' as devapp_groups %}
            <li{% if devapp_groups in request.path %} class="active"{% endif %}>
                <a href="{{ devapp_groups }}">
                    <span class="glyphicon glyphicon-hdd"></span> железки
                </a></li>

        </ul>

    </div>
    <!-- END Left menu -->

    <!-- Main content -->
    <div class="col-sm-10 col-sm-offset-2 main">
        <p class="pull-left visible-xs">
            <button type="button" data-toggle="offcanvas"></button>
        </p>

        {% block main %}{% endblock %}

    </div>
    <!-- END Main content -->
{% endblock %}
