<!DOCTYPE html>
<html>
<head>
    <title>InternetService - Админка</title>
    <meta charset="UTF-8">
    <!--[if lt IE 9]><meta http-equiv="refresh" content="0;URL=/static/bad_ie.html" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <script src="/static/js/jquery-2.2.4.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/moment-with-locales.min.js"></script>
    <script src="/static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/js/my.js"></script>
    <link rel="shortcut icon" href="/static/img/favicon_m.ico">
</head>
<body>

<!-- Modal -->
<div class="modal fade" id="modFrm" tabindex="-1" role="dialog" aria-hidden="true"></div>

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">InternetService</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Главная</a></li>
                <!--<li><a href="{ % url 'gmap:index' %}" target="_blank">Карта</a></li>
                <li><a href="{ % url 'statistics:home' %}" target="_blank">График траффика</a></li>-->
                <li><a href="{% url 'client_side:home' %}" target="_blank">Кабинет клиента</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Другое <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'acc_app:setup_info' %}">Настройки</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Действия аккаунта</li>
                        <li><a href="{% url 'acc_app:logout' %}">Выйти</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-right" action="{% url 'searchapp:home' %}" method="get">
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control" placeholder="Search..." name="s">
                  <span class="input-group-addon">
                    <button type="submit"><span class="glyphicon glyphicon-search"></span></button>
                  </span>
                </div>
            </form>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<!-- END Fixed navbar -->


<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">

        <!-- Left menu -->
        <div class="col-sm-2 sidebar sidebar-offcanvas" role="navigation">

            <div class="row profile_img">
                <div class="col-sm-5">

                    <a href="{% url 'acc_app:profile' %}">
                        {% if user.avatar %}
                            <img alt="авка" class="img-circle img-responsive" src="{{ user.avatar.min }}"/>
                        {% else %}
                            <img src="/static/img/user_ava_min.gif" class="img-circle img-responsive" alt="авка"/>
                        {% endif %}
                    </a>

                </div>
                <div class="col-sm-7">
                    <b>{{ user.username }}</b><br>
                    <span>{{ user.fio }}</span>
                    <a href="tel:{{ user.telephone }}">{{ user.telephone }}</a>
                </div>
            </div>

            <ul class="nav nav-sidebar">

                {% url 'acc_app:accounts_list' as accounts_list %}
                <li{% if accounts_list in request.path %} class="active"{% endif %}>
                    <a href="{{ accounts_list }}">
                        <span class="glyphicon glyphicon-eye-open"></span> администраторы
                    </a>
                </li>

                {% url 'abonapp:group_list' as abongroup_list_link %}
                <li{% if abongroup_list_link in request.path %} class="active"{% endif %}>
                    <a href="{{ abongroup_list_link }}">
                        <span class="glyphicon glyphicon-user"></span> абоненты
                    </a></li>

                {% url 'taskapp:home' as task_home %}
                <li{% if task_home in request.path %} class="active"{% endif %}>
                    <a href="{{ task_home }}">
                        <span class="glyphicon glyphicon-tasks"></span> Задачи
                        {% if tasks_count > 0 %}<span class="badge">{{ tasks_count }}</span>{% endif %}
                    </a></li>

                {% url 'tarifs:home' as tarifs_home %}
                <li{% if tarifs_home in request.path %} class="active"{% endif %}>
                    <a href="{{ tarifs_home }}">
                        <span class="glyphicon glyphicon-usd"></span> тарифы
                    </a></li>


                {% url 'privmsg:home' as privmsg_home %}
                <li{% if privmsg_home in request.path %} class="active"{% endif %}>
                    <a href="{{ privmsg_home }}">
                        <span class="glyphicon glyphicon-envelope"></span> внутренняя переписка
                    </a></li>


                {% url 'ip_pool:home' as ip_pool_home %}
                <li{% if ip_pool_home in request.path %} class="active"{% endif %}>
                    <a href="{{ ip_pool_home }}">
                        <span class="glyphicon glyphicon-compressed"></span> ip пул
                    </a></li>

                {% url 'devapp:devs' as devapp_devs %}
                <li{% if devapp_devs in request.path %} class="active"{% endif %}>
                    <a href="{{ devapp_devs }}">
                        <span class="glyphicon glyphicon-hdd"></span> железки
                    </a></li>

            </ul>

        </div>
        <!-- END Left menu -->

        <!-- Main content -->
        <div class="col-sm-10 col-sm-offset-2 main">
            <p class="pull-left visible-xs">
                <button type="button" data-toggle="offcanvas"></button>
            </p>

            {% block main %}{% endblock %}

        </div>
        <!-- END Main content -->

    </div>
</div>

</body>
</html>
