{% if pag.paginator.num_pages > 1 %}
<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
    <ul class="pagination">
        <li><a href="?p=1">&laquo;</a></li>
        {% if pag.has_previous %}
            <li><a href="?p={{ pag.previous_page_number }}">{{ pag.previous_page_number }}</a></li>
        {% endif %}
        <li>{{ pag.number }}</li>
        <li>/</li>
        <li>{{ pag.paginator.num_pages }}</li>
        {% if pag.has_next %}
            <li><a href="?p={{ pag.next_page_number }}">{{ pag.next_page_number }}</a></li>
        {% endif %}
        <li><a href="?p={{ pag.paginator.num_pages }}">&raquo;</a></li>
    </ul>
    </div>
</div>
{% endif %}