{% with request.GET.urlencode|yesno:'&,' as start_divide %}
{% with request.GET.urlencode as url %}
{% if pag.paginator.num_pages > 1 %}
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <ul class="pagination">
                {% if pag.number == 1 %}
                    <li class="disabled"><a href="#">&laquo;</a></li>
                {% else %}
                    <li><a href="?{{ url }}{{ start_divide }}p=1">&laquo;</a></li>
                {% endif %}
                {% if pag.has_previous %}
                    <li><a href="?{{ url }}{{ start_divide }}p={{ pag.previous_page_number }}">{{ pag.previous_page_number }}</a></li>
                {% endif %}
                <li class="disabled"><a href="#">{{ pag.number }}</a></li>
                {% if pag.has_next %}
                    <li><a href="?{{ url }}{{ start_divide }}p={{ pag.next_page_number }}">{{ pag.next_page_number }}</a></li>
                {% endif %}
                {% if pag.number == pag.paginator.num_pages %}
                    <li class="disabled"><a href="#">&raquo;</a></li>
                {% else %}
                    <li><a href="?{{ url }}{{ start_divide }}p={{ pag.paginator.num_pages }}">&raquo;</a></li>
                {% endif %}
            </ul>
        <h1>"{{ request.GET.urlencode }}"</h1>
        </div>
    </div>
{% endif %}
{% endwith %}
{% endwith %}