{% if pag.count > 1 %}
{% load dpagination %}
<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <ul class="pagination">
            {% if pag.number == 1 %}
                <li class="disabled"><a href="#">&laquo;</a></li>
            {% else %}
                <li><a href="?{% url_page_replace request 'p' 1 %}">&laquo;</a></li>
            {% endif %}
            {% if pag.has_previous %}
                <li><a href="?{% url_page_replace request 'p' pag.previous_page_number %}">{{ pag.previous_page_number }}</a></li>
            {% endif %}
            <li class="disabled"><a href="#">{{ pag.number }}</a></li>
            {% if pag.has_next %}
                <li><a href="?{% url_page_replace request 'p' pag.next_page_number %}">{{ pag.next_page_number }}</a></li>
            {% endif %}
            {% if pag.number == pag.paginator.num_pages %}
                <li class="disabled"><a href="#">&raquo;</a></li>
            {% else %}
                <li><a href="?{% url_page_replace request 'p' pag.paginator.num_pages %}">&raquo;</a></li>
            {% endif %}
        </ul>
    </div>
</div>
{% endif %}
