# Setting NAS module in __init__.py

# Certificates
#CERTFILE = "/etc/ssl/server.crt"
#KEYFILE = "/etc/ssl/server.key"

#IS_USE_SSL = False

# information for access on NAS server
NAS_IP = '<NAS IP>'
NAS_LOGIN = 'admin'
NAS_PASSW = '<PASSWORD>'
NAS_PORT = 8728
