<form action="{% url 'privmsg_send_message' %}?a={{ a }}" method="post" accept-charset="UTF-8" class="lightblock">{% csrf_token %}
    <div class="lghtbx_head">
        <h3>Отправить сообщение</h3>
    </div>
    <div class="lghtbx_body">
        <label for="inp1">Ваше сообщение </label>
        <textarea type="text" id="inp1" rows="4" name="msg_text"></textarea>
    </div>
    <div class="lghtbx_footer">
        <input type="submit" class="btn" value="Отправить">
        <input type="reset" class="btn" value="Сбросить">
    </div>
</form>
