{% extends request.is_ajax|yesno:'bajax.html,base.html' %}
{% block main %}

    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home"></span></li>
        <li><a href="{% url 'devapp:devs' %}">Устройства</a></li>
        <li class="active">{{ dev.ip_address }}</li>
    </ol>

    {% include 'message_block.html' %}

    <div class="page-header">
        <h2>{{ dev.comment|default:'Без названия' }}</h2>
    </div>

    <ul class="nav nav-tabs">

        {% url 'devapp:view' dev.id as devapp_view %}
        <li{% if devapp_view == request.path %} class="active"{% endif %}>
            <a href="{{ devapp_view }}">
                Порты {{ dev.ip_address }}
            </a>
        </li>

        {% url 'devapp:edit' dev.id as devapp_edit %}
        <li{% if devapp_edit == request.path %} class="active"{% endif %}>
            <a href="{{ devapp_edit }}">Редактировать</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="livetab_content">
            {% block content %}{% endblock %}
        </div>
    </div>

{% endblock %}