{% extends request.is_ajax|yesno:'nullcont.htm,devapp/ext.htm' %}

{% block content %}

<div class="switch_ports">
    <h4>{{ dev.get_devtype_display|default:'Название типа свича' }}</h4>

    <div class="port"></div>
    <div class="port giga"></div>
    <div class="port"></div>
    <div class="port"></div>
    <div class="port kilo"></div>
    <div class="port"></div>
    <div class="port"></div>
    <div class="port"></div>
    <div class="port"></div>
    <div class="port"></div>
    <div class="port"></div>
    <div class="port"></div>
    <div class="port"></div>
    <div class="port"></div>
    <div class="port"></div>
    <div class="port"></div>
    <div class="port"></div>
    <div class="port"></div>
    <div class="port"></div>
    <div class="port"></div>
    <div class="port"></div>
    <div class="port"></div>
    <div class="port"></div>
    <div class="port"></div>
    <div class="port"></div>
    <div class="port"></div>
    <div class="port"></div>
    <div class="port"></div>

</div>
{% endblock %}