{% extends request.is_ajax|yesno:'bajax.html,base.html' %}
{% block main %}


    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home"></span></li>
        <li><a href="{% url 'tarifs:home' %}">Тарифы</a></li>
        <li class="active">
            {% if tarif_id == 0 %}
                Добавить
            {% else %}
                Редактировать
            {% endif %}
        </li>
    </ol>

    {% include 'message_block.html' %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{% if tarif_id == 0 %}Создать{% else %}Редактировать{% endif %} тариф</h3>
        </div>
        <div class="panel-body">
            <form role="form" action="{% url 'tarifs:edit' tarif_id %}" method="post">{% csrf_token %}

                <div class="form-group">
                    <label for="id_title">Название тарифа</label>

                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        {{ form.title }}{{ form.title.errors }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="id_descr">Описание тарифа</label>

                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-text-background"></span></span>
                        {{ form.descr }}{{ form.descr.errors }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="id_speedIn">Входящая скорость</label>

                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        {{ form.speedIn }}{{ form.speedIn.errors }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="id_speedOut">Исходящая скорость</label>

                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        {{ form.speedOut }}{{ form.speedOut.errors }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="id_amount">Стоимость</label>

                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        {{ form.amount }}{{ form.amount.errors }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="id_time_of_action">Время действия (в днях)</label>

                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        {{ form.time_of_action }}{{ form.time_of_action.errors }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="id_calc_type">Скрипт</label>

                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        {{ form.calc_type }}{{ form.calc_type.errors }}
                    </div>
                </div>

                <div class="btn-group">
                    <button type="submit" class="btn btn-sm btn-primary">
                        <span class="glyphicon glyphicon-save"></span> Сохранить
                    </button>
                    <button type="reset" class="btn btn-sm btn-default">
                        <span class="glyphicon glyphicon-remove-circle"></span> Сбросить
                    </button>
                </div>

            </form>
        </div>
    </div>

{% endblock %}